<div class="container">
<!--  <div class="memo">-->
    <img class="memorandum" src="/assets/memorandum.png" alt="image">
<!--  </div>-->

  <div class="gazdinstvo">Шумско Газдинство „{{gazdinstvo}}“ {{ grad}}</div>
  <div class="broj-rjesenja">Број: ______________/{{godina}}</div>
  <div class="broj-rjesenja"> Дана: _____________{{godina}}. године</div>

  <div class="tekst-paragraf">
    На основу члана 35. Закона о шумама, члана 19. Статута ЈПШ „ Шуме Републике Српске“ и члана 2. Oдлуке о врсти
    послова
    и овлашћења у пословању организационих дијелова ЈПШ “Шуме Републике Српске“, доносим:
  </div>


  <div class="naslov">РЈЕШЕЊЕ</div>
  <div class="podnaslov">о именовању одговорних лица за праћење и евиденцију
    извршених радова по Пројекту за извођење радова
  </div>

  <div class="odjel">Одјел бр. {{odjel}} Г.Ј. „{{privrednaJedinica}}“</div>

  <table class="table table-bordered">

    <thead>

    <tr>
      <th scope="col">Врста радова</th>
      <th scope="col">Име, презиме и
        стручна спрема извршиоца
      </th>
      <th scope="col">Вријеме израде
        (контрола)
      </th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td>Грађевински радови</td>
      <td></td>
      <td rowspan="1"></td>
    </tr>

    <tr>
      <td>Радови на експлоатацији шума</td>
      <td>{{liceZaEksploataciju}}</td>
      <td></td>
    </tr>

    <tr>
      <td>Радови на узгоју и заштити</td>
      <td>{{liceZaUzgoj}}</td>
      <td></td>
    </tr>
  </table>

  <div class="tekst-paragraf">Задатак именованих лица је да усмјере извођење радова према Пројекту за извођење,
    законским
    прописима и актима Предузећа, да воде евиденцију завршених послова по фазама рада (квалитативно и квантитативно), да
    у
    случају потребе предложе измјене Пројекта за извођење или обуставу радова уколико нису усклађени са пројектом за
    извођење и важећим актима Предузећа.
  </div>
  <div class="tekst-paragraf"> Против овог Рјешења именовани имају право жалбе директору Предузећа у року 15 дана од
    дана
    пријема Рјешења. Жалба не одлаже извршење Рјешења.
  </div>
<div class="dostavljeno">Достављено:
  <ul>
    <li class="prviDostavljeni">Именованом</li>
    <li>Служби за припрему производње</li>
    <li>А/А</li>

  </ul></div>


  <div class="direktor-naslov">
    <div class="direktor-padding">Директор:</div>
    <div class="direktor">{{direktor}}, дипл.инж.шум.</div>
  </div>
</div>
