.container {
  page-break-before: always;
  page-break-after: always;
}


.gazdinstvo {
  font-weight: bold;
  font-size: 18px;
}

.broj-rjesenja {
  font-weight: bold;
  font-size: 18px;
}


.naslov {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.podnaslov {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  padding-bottom: 15px;
}

.odjel {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.tekst-paragraf {
  text-align: justify;
  font-size: 18px;
  padding-top: 15px;
}

.dostavljeno {
  display: flex;
  font-size: 18px;
}

.prviDostavljeni {
  white-space: nowrap;
}

.direktor-naslov {
  padding-top: 240px;
  font-size: 18px;
  text-align: right;
}


table {
  border-collapse: collapse;
}

th, td {
  padding: 0;
}

.memorandum {
  margin-left: 250px;
  padding-top: 0;
}




