<div class="container">
    <div class="row form-row">
        <div class="col-4 offset-4">
    <div class="card text-center">
        <div class="card-header bg-info">
          <h5>Unesite precnike po vrstama i uslove rada</h5> 
        </div>
        <div class="card-body">
                  <form [formGroup]='unosPrecnika'>
            <div class="form-group">
                <select class="form-select"   
                        formControlName="vrsta" class="form-control" 
                        id="vrsta"
                        required>
                    <option [ngValue]="null" [disabled]="true">Vrsta drveta</option>   
                    <option [ngValue]="1">Jela</option>
                    <option [ngValue]="2">Smrca</option>
                    <option [ngValue]="3">B. bor</option>
                    <option [ngValue]="4">C. bor</option>
                    <option [ngValue]="5">Bukva</option>
                    <option [ngValue]="6">Hrast</option>
                    <option [ngValue]="7">Pl. liscari</option>
                    <option [ngValue]="8">Ostali liscari</option>
                </select></div>
                <br>
                <div class="form-group">
                <input type="number" placeholder="Srednji precnik" class="form-control" formControlName="precnik">

        <span *ngIf="unosPrecnika.get('precnik').errors">
        KOKKOK
        </span>
    </div>

                     <br>
                     <div class="form-group">
                <button class="btn btn-warning" (click)="unesiPrecnik()">Potvrdi vrstu i precnik</button> <br> <br> <hr>
        
            </div>
        </form>
            <form [formGroup]='unosUslovaRada'>
                <div class="form-group">
                    <select class="form-select" formControlName="nagibSjeca">
                        <option [ngValue]="null" [disabled]="true">Nagib terena - sjeca)</option>
                        <option [ngValue]="1">Do 15`</option>
                        <option [ngValue]="3">Od 15-30`</option>
                        <option [ngValue]="11">Preko 30`</option>
                    </select> <br>
                    <select class="form-select" formControlName="gustinaPodmlatkaSjeca">
                        <option [ngValue]="null" [disabled]="true">Gustina podmlatka - sjeca</option>
                        <option [ngValue]="1">Neznatan</option>
                        <option [ngValue]="4">Srednje gust</option>
                        <option [ngValue]="10">Gust</option>
                    </select> <br>
                    <select class="form-select" formControlName="doznacenaMasaSjeca">
                        <option [ngValue]="null" [disabled]="true">Doznacena masa - sjeca</option>
                        <option [ngValue]="4">Veca od 80 m3/ha</option>
                        <option [ngValue]="6">60-80 m3/ha</option>
                        <option [ngValue]="10">Do 60 m3/ha</option>
                    </select> <br>
                    <select class="form-select" formControlName="nadmorskaVisinaSjecaAnimal">
                        <option [ngValue]="null" [disabled]="true">Nadmorska visina</option>
                        <option [ngValue]="1">Do 1000 mnv</option>
                        <option [ngValue]="3">1000-1500 mnv</option>
                        <option [ngValue]="6">Iznad 1500 mnv</option>
                    </select> <br>
                    <select class="form-select" formControlName="udaljenostOdCesteSjeca">
                        <option [ngValue]="null" [disabled]="true">Udaljenost od ceste - sjeca</option>
                        <option [ngValue]="3">Do 500 m</option>
                        <option [ngValue]="5">500-1500 m</option>
                        <option [ngValue]="12">Iznad 1500 m</option>
                    </select> <br>
                    <select class="form-select" formControlName="nagibAnimal">
                        <option [ngValue]="null" [disabled]="true">Nagib terena - animal</option>
                        <option [ngValue]="4">10`-20`</option>
                        <option [ngValue]="6">Veci od 20`</option>
                        <option [ngValue]="10">0`-10`</option>
                    </select> <br>
                    <select class="form-select" formControlName="ucesceLiscaraAnimal">
                        <option [ngValue]="null" [disabled]="true">Ucesce liscara - animal</option>
                        <option [ngValue]="1">Cisti cetinari</option>
                        <option [ngValue]="3">Do 50 %</option>
                        <option [ngValue]="6">Preko 50 %</option>
                    </select> <br>
                    <select class="form-select" formControlName="gustinaPodmlatkaAnimal">
                        <option [ngValue]="null" [disabled]="true">Gustina podmlatka - animal</option>
                        <option [ngValue]="2">Neznatan</option>
                        <option [ngValue]="4">Srednje gust</option>
                        <option [ngValue]="9">Gust</option>
                    </select> <br>
                    <select class="form-select" formControlName="doznacenaMasaAnimal">
                        <option [ngValue]="null" [disabled]="true">Doznacena masa - animal</option>
                        <option [ngValue]="1">Veca od 80 m3/ha</option>
                        <option [ngValue]="3">60-80 m3/ha</option>
                        <option [ngValue]="6">Do 60 m3/ha</option>
                    </select> <br>
                    <select class="form-select" formControlName="udaljenostOdStale">
                        <option [ngValue]="null" [disabled]="true">Udaljenost od stale</option>
                        <option [ngValue]="2">Do 1 km</option>
                        <option [ngValue]="5">1-3 km</option>
                        <option [ngValue]="8">Preko 3 km</option>
                    </select> <br>
                    <select class="form-select" formControlName="bonitetCetinari">
                        <option [ngValue]="null" [disabled]="true">Bonitet cetinari</option>
                        <option selected>Bonitet</option>
                        <option value="1">Prvi</option>
                        <option value="2">Drugi</option>
                        <option value="3">Treći</option>
                        <option value="4">Četvrti</option>
                        <option value="5">Peti</option>
                    </select> <br>
                    <select class="form-select" formControlName="bonitetLiscari">
                        <option [ngValue]="null" [disabled]="true">Bonitet liscari</option>
                        <option selected>Bonitet</option>
                        <option value="1">Prvi</option>
                        <option value="2">Drugi</option>
                        <option value="3">Treći</option>
                        <option value="4">Četvrti</option>
                        <option value="5">Peti</option>
                    </select> <br>
                    <input type="number" formControlName="animalDistanca" placeholder="Animal distanca" class="form-control"> <br>
        
                      <button type="submit" class="btn btn-primary" (click)="potvrdi()" >Submit</button>
                </div>
                 
              </form>
        </div>
      </div>
    </div>
    </div>
</div>

