<div class="container">

  <div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item1" *ngIf="precnik">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed bg-warning text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
         <h2>Unos srednjeg prečnika po vrstama<i class="bi bi-exclamation-lg"></i></h2>
        </button>
      </h2> <br>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="unosPrecnika">
         <form [formGroup]='unosPrecnika'>
           <div class="form-group">
             <select formControlName="vrsta" class="form-control" required>
               <option [ngValue]="null" [disabled]="true">Vrsta drveta</option>
               <option [ngValue]="1" [hidden]="trueJela">Jela</option>
               <option [ngValue]="2" [hidden]="trueSmrca">Smrca</option>
               <option [ngValue]="3" [hidden]="trueBb">B. bor</option>
               <option [ngValue]="4" [hidden]="trueCb">C. bor</option>
               <option [ngValue]="5" [hidden]="trueBukva">Bukva</option>
               <option [ngValue]="6" [hidden]="trueHrast">Hrast</option>
               <option [ngValue]="7" [hidden]="truePl">Pl. liscari</option>
               <option [ngValue]="8" [hidden]="trueOl">Ostali liscari</option>
             </select>
             <small class="text-danger"
                    *ngIf="unosPrecnika.get('vrsta').errors?.required">
               Unijeti vrstu drveta.
             </small>
           </div>

           <div class="form-group">
             <input
               placeholder="Srednji precnik"
               class="form-control"
               formControlName="precnik">
             <small class="text-danger"
                    *ngIf="unosPrecnika.get('precnik').errors?.required ||
                           unosPrecnika.get('precnik').errors?.minlength ||
                           unosPrecnika.get('precnik').errors?.maxlength">
               Precnik mora biti dvocifren.
             </small>
           </div>

           <div class="form-group">
             <button class="btn btn-success" type="button" [disabled]="!unosPrecnika.valid" (click)="unesiPrecnik()">
               Potvrdi vrstu i precnik
             </button> <br>
           </div>
         </form>
       </div>
      </div>
    </div>

    <div class="accordion-item2">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed {{accordionSjeca}} {{accordionTextValidSjeca}}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h2>Unijeti uslove rada za sjecu <i class="{{accordionIconSjeca}}"></i></h2>
        </button>
      </h2> <br>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="unosNormi">
            <form [formGroup]='unosUslovaRada'>
              <div class="form-group">
                <div class="sjecaNorme">
                <select class="form-select" formControlName="nagibSjeca" required>
                  <option [ngValue]="null" [disabled]="true">Nagib terena - sjeca</option>
                  <option [ngValue]="1">Do 15°</option>
                  <option [ngValue]="3">Od 15-30°</option>
                  <option [ngValue]="11">Preko 30°</option>
                </select>
              <small class="text-danger"
                     *ngIf="unosUslovaRada.get('nagibSjeca').errors?.required">
                Unijeti nagib za sjecu!
              </small> <br>
                <select class="form-select" formControlName="gustinaPodmlatkaSjeca" required>
                  <option [ngValue]="null" [disabled]="true">Gustina podmlatka</option>
                  <option [ngValue]="1">Neznatan</option>
                  <option [ngValue]="4">Srednje gust</option>
                  <option [ngValue]="10">Gust</option>
                </select>
              <small class="text-danger"
                     *ngIf="unosUslovaRada.get('gustinaPodmlatkaSjeca').errors?.required">
                Unijeti gustinu podmlatka!
              </small> <br>
                <select class="form-select" formControlName="doznacenaMasaSjeca" required>
                  <option [ngValue]="null" [disabled]="true">Doznacena masa</option>
                  <option [ngValue]="4">Veca od 80 m³/ha</option>
                  <option [ngValue]="6">60-80 m³/ha</option>
                  <option [ngValue]="10">Do 60 m³/ha</option>
                </select>
              <small class="text-danger"
                     *ngIf="unosUslovaRada.get('doznacenaMasaSjeca').errors?.required">
                Unijeti doznačenu masu!
              </small> <br>
                <select class="form-select" formControlName="nadmorskaVisinaSjecaAnimal" required>
                  <option [ngValue]="null" [disabled]="true">Nadmorska visina</option>
                  <option [ngValue]="1">Do 1000 mnv</option>
                  <option [ngValue]="3">1000-1500 mnv</option>
                  <option [ngValue]="6">Iznad 1500 mnv</option>
                </select>
              <small class="text-danger"
                     *ngIf="unosUslovaRada.get('nadmorskaVisinaSjecaAnimal').errors?.required">
                Unijeti nadmorsku visinu!
              </small> <br>
                  <select class="form-select" formControlName="udaljenostOdCesteSjeca" required>
                  <option [ngValue]="null" [disabled]="true">Udaljenost od ceste</option>
                  <option [ngValue]="3">Do 500 m</option>
                  <option [ngValue]="5">500-1500 m</option>
                  <option [ngValue]="12">Iznad 1500 m</option>
                </select>
              <small class="text-danger"
                     *ngIf="unosUslovaRada.get('udaljenostOdCesteSjeca').errors?.required">
                Unijeti udaljenost od ceste!
              </small><br>
              <div class="bonitetCetinari" *ngIf="trueBonitetCetinari">
                <select class="form-select"  formControlName="bonitetCetinari" required>
                  <option [ngValue]="null" [disabled]="true">Bonitet cetinari</option>
                  <option value="1">I</option>
                  <option value="2">II</option>
                  <option value="3">III</option>
                  <option value="4">IV</option>
                  <option value="5">V</option>
                </select>
                <small class="text-danger"
                       *ngIf="unosUslovaRada.get('bonitetCetinari').errors?.required">
                  Unijeti bonitet za četinare!
                </small> <br>
              </div>
              <div class="bonitetLiscari" *ngIf="trueBonitetLiscari">
                <select class="form-select" formControlName="bonitetLiscari" required>
                  <option [ngValue]="null" [disabled]="true">Bonitet liscari</option>
                  <option value="1">I</option>
                  <option value="2">II</option>
                  <option value="3">III</option>
                  <option value="4">IV</option>
                  <option value="5">V</option>
                </select>
                <small class="text-danger"
                       *ngIf="unosUslovaRada.get('bonitetLiscari').errors?.required">
                  Unijeti bonitet za lišćare!
                </small> <br>
              </div>
              <select class="form-select" formControlName="ucesceAnimala" required>
                <option [ngValue]="null" [disabled]="true">Ucesce animala</option>
                <option *ngFor="let procenat of ucesceAnimal; let i = index" [ngValue]="procenat">
                  {{procenat}} %
                </option>
              </select>
              <small class="text-danger"
                     *ngIf="unosUslovaRada.get('ucesceAnimala').errors?.required">
                Unijeti procenat predvidjen za animal!
              </small> <br>
              <select class="form-select" formControlName="periodSjece" required>
                <option [ngValue]="null" [disabled]="true">Period sjece</option>
                <option [ngValue]="0">Ljeto</option>
                <option [ngValue]="1">Zima</option>
              </select>
            <small class="text-danger"
                   *ngIf="unosUslovaRada.get('periodSjece').errors?.required">
              Unijeti period sjece!
            </small><br>
            <select class="form-select" formControlName="planiranIznos" required>
              <option [ngValue]="null" [disabled]="true">Da li je planiran iznos</option>
              <option [ngValue]="0">Da</option>
              <option [ngValue]="1">Ne</option>
            </select>
          <small class="text-danger"
                 *ngIf="unosUslovaRada.get('planiranIznos').errors?.required">
            Odaberite da li je planiran iznos!
          </small><br>

        <div class="saKorom" *ngIf="imaCetinara" >
          <select class="form-select" formControlName="saKorom" required>
            <option [ngValue]="null" [disabled]="true">Koranje</option>
            <option [ngValue]="0">Da</option>
            <option [ngValue]="1">Ne</option>
          </select>
        <small class="text-danger"
               *ngIf="unosUslovaRada.get('saKorom').errors?.required">
          Da li se cetinari koraju!
        </small> <br>
        </div>
                  <div class="potvrdaNormiSjece d-grid gap-2">
                    <button [disabled]="!unosUslovaRada.valid" *ngIf="potvrdjenaSjeca" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" type="button" class="btn btn-success collapsed" (click) = "potvrdiNormeSjece()">Potvrdi uslove sjece</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>

    <div class="accordion-item3" *ngIf="traktor">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed {{accordionTraktor}} {{accordionTextValidTraktor}}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <h2>Unijeti uslove rada za traktor<i class="{{accordionIconTraktor}}"></i></h2>
        </button> <br>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="traktor">
          <form [formGroup]="usloviTraktor">
            <div class="form-group">
          <select class="form-select" formControlName="nagibTraktor" required>
          <option [ngValue]="null" [disabled]="true">Nagib traktorskog puta</option>
          <option [ngValue]="1">10-15%</option>
          <option [ngValue]="3">5-10 i veci od 15%</option>
          <option [ngValue]="6">0-5%-mocvarno</option>
        </select>
       <small class="text-danger"
               *ngIf="usloviTraktor.get('nagibTraktor').errors?.required">
          Unijeti nagib za traktor!
        </small>  <br>

        <select class="form-select" formControlName="vrstaTlaTraktor" required>
          <option [ngValue]="null" [disabled]="true">Vrsta tla</option>
          <option [ngValue]="2">Plitko</option>
          <option [ngValue]="4">Sr.duboko ili kamen</option>
          <option [ngValue]="9">Duboko-mocvarno</option>
        </select>
        <small class="text-danger"
               *ngIf="usloviTraktor.get('vrstaTlaTraktor').errors?.required">
          Unijeti vrstu tla za traktor!
        </small><br>
        <select class="form-select" formControlName="udaljenostOdGaraza" required>
          <option [ngValue]="null" [disabled]="true">Udaljenost od garaza</option>
          <option [ngValue]="1">Do 2 km</option>
          <option [ngValue]="3">2-6 km</option>
          <option [ngValue]="6">Preko 6 km</option>
        </select>
        <small class="text-danger"
        *ngIf="usloviTraktor.get('udaljenostOdGaraza').errors?.required">
   Unijeti udaljenost od garaža!
 </small><br>
        <select class="form-select" formControlName="primicanjeTraktor" required>
          <option [ngValue]="null" [disabled]="true">Duzina primicanja</option>
          <option [ngValue]="0">10 m</option>
          <option [ngValue]="1">20 m</option>
          <option [ngValue]="2">30 m</option>
        </select>
        <small class="text-danger"
        *ngIf="usloviTraktor.get('primicanjeTraktor').errors?.required">
   Unijeti udaljenost primicanja za traktor!
 </small><br>

        <input formControlName="traktorDistanca" placeholder="Traktor distanca" class="form-control" required>

        <small class="text-danger"
               *ngIf="
               usloviTraktor.get('traktorDistanca').errors?.required ||
               usloviTraktor.get('traktorDistanca').errors?.minlength ||
               usloviTraktor.get('traktorDistanca').errors?.maxlength">
          Distanca mora biti trocifren ili četvorocifren broj.
        </small> <br>
              <div class="d-grid gap-2">
                <button [disabled]="!usloviTraktor.valid" *ngIf="potvrdjenTraktor" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" type="button" class="btn btn-success collapsed" (click)="traktorBtn()">Traktor</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="accordion-item4" *ngIf="animal">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed {{accordionAnimal}} {{accordionTextValidAnimal}}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          <h2>Unijeti uslove rada za animal<i class="{{accordionIconAnimal}}"></i></h2>
        </button> <br>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="animal">
          <form [formGroup]="usloviAnimal">
            <div class="form-group">
          <select class="form-select" formControlName="nagibAnimal" required>
            <option [ngValue]="null" [disabled]="true">Nagib terena - animal</option>
            <option [ngValue]="4">10°-20°</option>
            <option [ngValue]="6">Veci od 20°</option>
            <option [ngValue]="10">0°-10°</option>
          </select>
        <small class="text-danger"
               *ngIf="usloviAnimal.get('nagibAnimal').errors?.required">
          Unijeti nagib za animal!
        </small><br>

          <select class="form-select" formControlName="ucesceLiscaraAnimal" required >
            <option [ngValue]="null" [disabled]="true">Ucesce liscara</option>
            <option [ngValue]="1">Cisti cetinari</option>
            <option [ngValue]="3">Do 50 %</option>
            <option [ngValue]="6">Preko 50 %</option>
          </select>
        <small class="text-danger"
               *ngIf="usloviAnimal.get('ucesceLiscaraAnimal').errors?.required">
          Unijeti učešće lišćara!
        </small> <br>
          <select class="form-select" formControlName="udaljenostOdStale" required>
            <option [ngValue]="null" [disabled]="true">Udaljenost od stale</option>
            <option [ngValue]="2">Do 1 km</option>
            <option [ngValue]="5">1-3 km</option>
            <option [ngValue]="8">Preko 3 km</option>
          </select>
        <small class="text-danger"
               *ngIf="usloviAnimal.get('udaljenostOdStale').errors?.required">
          Unijeti udaljenost od štale!
        </small> <br>


          <input formControlName="animalDistanca" placeholder="Animal distanca" class="form-control" required>

        <small class="text-danger"
               *ngIf="
               usloviAnimal.get('animalDistanca').errors?.required ||
               usloviAnimal.get('animalDistanca').errors?.minlength ||
               usloviAnimal.get('animalDistanca').errors?.maxlength">
          Distanca mora biti trocifren ili četvorocifren broj.
        </small> <br>

              <div class="d-grid gap-2">
                <button [disabled]="!usloviAnimal.valid" *ngIf="potvrdjenAnimal" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" type="button" class="btn btn-success collapsed" (click)="animalBtn()">Animal</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="accordion-item5" *ngIf="imaIznosa">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed  {{accordionIznos}} {{accordionTextValidIznos}}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          <h2>Unijeti uslove rada za iznos<i class="{{ accordionIconIznos}}"></i></h2>
        </button>
      </h2> <br>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="iznos">
            <form [formGroup]="usloviIznos">
                <input formControlName="iznosDistanca" placeholder="Distanca za iznos" class="form-control">

         <small class="text-danger"
                 *ngIf="
                        usloviIznos.get('iznosDistanca').errors?.required ||
                        usloviIznos.get('iznosDistanca').errors?.minlength ||
                        usloviIznos.get('iznosDistanca').errors?.maxlength
                      ">
            Distanca mora biti trocifren ili četvorocifren broj.
          </small> <br> <br>
          <select class="form-select" formControlName="vrstaTla" required>
            <option [ngValue]="null" [disabled]="true">Vrsta tla</option>
            <option [ngValue]="2">Bez kamenja</option>
            <option [ngValue]="4">Sa povrsinskim kamenjem</option>
            <option [ngValue]="9">Kamenito preko 30%</option>
          </select>
        <small class="text-danger"
                 *ngIf="usloviIznos.get('vrstaTla').errors?.required">
            Unijeti vrstu tla!

          </small> <br>

            <div class="potvrdjivanjeIznosa">
              <button *ngIf="potvrdjenIznos" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" type="button" class="btn btn-success collapsed" type="button" (click)="iznosBtn()">
              Potvrdi uslove iznosa
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>

      <div class="d-grid gap-2" *ngIf = "unosUslovaRada.valid &&
                                         validnaFormaTraktora &&
                                         validnaFormaAnimala &&
                                         validnaFormaIznosa">
        <button class="btn btn-success" (click)="potvrdi()">Izracunaj norme</button>
      </div>

  </div>
</div>
