<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <select class="form-select" (change) = "dohvatiNagibTerena($event)">
                <option selected>Nagib terena</option>
                <option value=1>Do 15</option>
                <option value=3>15-30</option>
                <option value=11>Preko 30</option>
            </select> <br>
            <select class="form-select" (change) = "dohvatiGustinuPodmlatka($event)">
                <option selected>Gustina podmlatka</option>
                <option value="1">Neznatan</option>
                <option value="4">Srednje gust</option>
                <option value="10">Gust</option>
            </select> <br>
            <select class="form-select" (change) = "dohvatiDoznacenuMasu($event)">
                <option selected>Doznačena masa po ha</option>
                <option value="4">> 80 m3</option>
                <option value="6">60-80 m3</option>
                <option value="10">vece od 60 m3</option>
            </select> <br>
            <select class="form-select" (change) = "dohvatiNadmorskuVisinu($event)">
                <option selected>Srednja nadmorska visina</option>
                <option value="1">Do 1000 mnv</option>
                <option value="3">1001-1500 mnv</option>
                <option value="6">Veća od 1501 mnv</option>
            </select> <br>
            <select class="form-select" (change) = "dohvatiSrednjuUdaljenostOdCeste($event)">
                <option selected>Srednja udaljenost od ceste</option>
                <option value="3">Do 500 m</option>
                <option value="5">1500-1500 m</option>
                <option value="12">Veća od 1501 mnv</option>
            </select> <br>
            <select class="form-select" (change) = "dohvatiSrednjiPrecnikCetinari($event)">
                <option selected>Srednji prečnik četinara</option>
                <option value="3">Veći od 46 cm</option>
                <option value="5">31-45 cm</option>
                <option value="12">Do 30 cm</option>
            </select> <br>
            <select class="form-select" (change) = "dohvatiSrednjiPrecnikLiscari($event)">
                <option selected>Srednji prečnik lišćara</option>
                <option value="3">Veći od 46 cm</option>
                <option value="5">31-45 cm</option>
                <option value="12">Do 30 cm</option>
            </select> <br>
            <select class="form-select" (change) = "dohvatiBonitetCetinari($event)">
                <option selected>Bonitet</option>
                <option value="1">Prvi</option>
                <option value="2">Drugi</option>
                <option value="3">Treći</option>
                <option value="4">Četvrti</option>
                <option value="5">Peti</option>
            </select> <br>
            <select class="form-select" (change) = "dohvatiBonitetLiscari($event)">
                <option selected>Bonitet</option>
                <option value="1">Prvi</option>
                <option value="2">Drugi</option>
                <option value="3">Treći</option>
                <option value="4">Četvrti</option>
                <option value="5">Peti</option>
            </select> <br>
            <input placeholder="Unijeti sr. precnik cetinara" (keyup)="unosSrednjiPrecnikCetinari($event)"> <br>
            <input placeholder="Unijeti sr. precnik liscara" (keyup)="unosSrednjiPrecnikLiscari($event)">
            <p>Bonitet za četinare je: {{bonitetCetinari}}</p>
            <p>Bonitet za lišćare je: {{bonitetLiscari}}</p>
            <p>Srednji precnik cetinara je: {{srednjiPrecnikCetinari}}</p>
            <p>Srednji precnik liscara je: {{srednjiPrecnikLiscari}}</p>
            <p>Norma sjece za cetinare je: {{normaCetSjeca}}</p>
            <p>Norma sjece za liscare je: {{normaLisSjeca}}</p>
            <p>Broj bodova za cetinare je je: {{bodoviCetinari}}</p>
            <p>Broj bodova za liscare je: {{bodoviLiscari}}</p>
            <p>Cijena sjece za cetinare je: {{cijenaSjecaCetinari}}</p>
            <p>Cijena sjece za liscare je: {{cijenaSjecaLiscari}}</p>
            <button class="btn-primary" (click) = "izracunajNorme()">Potvrdi norme</button> <hr>

           
        </div>
        <div class="col-xl-4 offset-xl-4">
            <app-unos-podataka-animal></app-unos-podataka-animal>
        </div>

    </div>
        </div>

