<h1 class="sikira-header" *ngIf="showSikiraImage">Unijeti sortimente i uslove rada</h1>
<img class="rounded-circle circle-sizer" *ngIf="showSikiraImage" src="/assets/panjSikira.jpg" alt="image">

<div class="sortimentna-tabela">
<table class="table table-bordered prihod-realizacija" *ngIf="jelaShowTable || smrcaShowTable || bukvaShowTable">
  <thead class="thead-dark">
  <tr>
    <th class="bg-siva" scope="col" colspan="5">Prihodi od realizacije drvnih sortimenata</th>
  </tr>
  <tr class="bg-siva">
    <th scope="col">Sifra vrste</th>
    <th scope="col" class="text-dark">Klase</th>
    <th scope="col" class="text-dark">Kolicina (m³)</th>
    <th scope="col" class="text-dark">Cijena (KM/m³)</th>
    <th scope="col" class="text-dark">Ukupno (KM)</th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>F</td>
    <td>{{fTrupciJela | number: '1.2-2'}}</td>
    <td>{{cjenaFJela | number: '1.2-2'}}</td>
    <td>{{ukupnoFJela | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>I</td>
    <td>{{prvaKlasaJela | number: '1.2-2'}}</td>
    <td>{{cjenaPrvaJela | number: '1.2-2'}}</td>
    <td>{{ukupnoPrvaJela | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>II</td>
    <td>{{drugaKlasaJela | number: '1.2-2'}}</td>
    <td>{{cjenaDrugaJela | number: '1.2-2'}}</td>
    <td>{{ukupnoDrugaJela | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>III</td>
    <td>{{trecaKlasaJela | number: '1.2-2'}}</td>
    <td>{{cjenaTrecaJela | number: '1.2-2'}}</td>
    <td>{{ukupnoTrecaJela | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>TT stubovi</td>
    <td>{{stuboviJela | number: '1.2-2'}}</td>
    <td>{{cjenaStuboviJela | number: '1.2-2'}}</td>
    <td>{{ukupnoStuboviJela | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>Rudno</td>
    <td>{{rudnoJela | number: '1.2-2'}}</td>
    <td>{{cjenaRudnoJela | number: '1.2-2'}}</td>
    <td>{{ukupnoRudnoJela | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>Kolje za voce</td>
    <td>{{koljeJela | number: '1.2-2'}}</td>
    <td>{{cjenaKoljeJela | number: '1.2-2'}}</td>
    <td>{{ukupnoKoljeJela | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>Celuloza</td>
    <td>{{celulozaJela | number: '1.2-2'}}</td>
    <td>{{cjenaCelulozaJela | number: '1.2-2'}}</td>
    <td>{{ukupnoCelulozaJela | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>F</td>
    <td>{{fTrupciSmrca | number: '1.2-2'}}</td>
    <td>{{cjenaFSmrca | number: '1.2-2'}}</td>
    <td>{{ukupnoFSmrca | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>I</td>
    <td>{{prvaKlasaSmrca | number: '1.2-2'}}</td>
    <td>{{cjenaPrvaSmrca | number: '1.2-2'}}</td>
    <td>{{ukupnoPrvaSmrca | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>II</td>
    <td>{{drugaKlasaSmrca | number: '1.2-2'}}</td>
    <td>{{cjenaDrugaSmrca | number: '1.2-2'}}</td>
    <td>{{ukupnoDrugaSmrca | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>III</td>
    <td>{{trecaKlasaSmrca | number: '1.2-2'}}</td>
    <td>{{cjenaTrecaSmrca | number: '1.2-2'}}</td>
    <td>{{ukupnoTrecaSmrca | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>TT stubovi</td>
    <td>{{stuboviSmrca | number: '1.2-2'}}</td>
    <td>{{cjenaStuboviSmrca | number: '1.2-2'}}</td>
    <td>{{ukupnoStuboviSmrca | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>Rudno</td>
    <td>{{rudnoSmrca | number: '1.2-2'}}</td>
    <td>{{cjenaRudnoSmrca | number: '1.2-2'}}</td>
    <td>{{ukupnoRudnoSmrca | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>Kolje za voce</td>
    <td>{{koljeSmrca | number: '1.2-2'}}</td>
    <td>{{cjenaKoljeSmrca | number: '1.2-2'}}</td>
    <td>{{ukupnoKoljeSmrca | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>Celuloza</td>
    <td>{{celulozaSmrca | number: '1.2-2'}}</td>
    <td>{{cjenaCelulozaSmrca | number: '1.2-2'}}</td>
    <td>{{ukupnoCelulozaSmrca | number: '1.2-2'}}</td>
  </tr>

  <tr class="bg" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>F</td>
    <td>{{fTrupciBukva | number: '1.2-2'}}</td>
    <td>{{cjenaFBukva | number: '1.2-2'}}</td>
    <td>{{ukupnoFBukva | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>L</td>
    <td>{{lTrupciBukva | number: '1.2-2'}}</td>
    <td>{{cjenaLBukva | number: '1.2-2'}}</td>
    <td>{{ukupnoLBukva | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>I</td>
    <td>{{prvaKlasaBukva | number: '1.2-2'}}</td>
    <td>{{cjenaPrvaBukva | number: '1.2-2'}}</td>
    <td>{{ukupnoPrvaBukva | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>II</td>
    <td>{{drugaKlasaBukva | number: '1.2-2'}}</td>
    <td>{{cjenaDrugaBukva | number: '1.2-2'}}</td>
    <td>{{ukupnoDrugaBukva | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>III</td>
    <td>{{trecaKlasaBukva | number: '1.2-2'}}</td>
    <td>{{cjenaTrecaBukva | number: '1.2-2'}}</td>
    <td>{{ukupnoTrecaBukva | number: '1.2-2'}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>Ogrevno drvo</td>
    <td>{{ogrevBukva | number: '1.2-2'}}</td>
    <td>{{cjenaZajednoOgrev | number: '1.2-2'}}</td>
    <td>{{ukupnoOgrevBukva | number: '1.2-2'}}</td>
  </tr>

  <tr class="bg-suma">
    <th scope="row">Ukupno</th>
    <td></td>
    <td>{{ukupnoSortimenti | number: '1.2-2'}}</td>
    <td></td>
    <td>{{ukupnoValuta | number: '1.2-2'}}</td>
  </tr>


  </tbody>
</table>
</div>


  <div class="sortimentna-tabela">
  <table class="table table-bordered page-break troskovi-sjece"  *ngIf="jelaShowTable || smrcaShowTable || bukvaShowTable">
    <thead>
    <tr>
      <th class="bg-siva" scope="col" colspan="6">Troskovi sjece, izrade privlacenja i iznosenja drvnih sortimenata</th>
    </tr>
    <tr class="bg-siva">
      <th scope="col">Odjel</th>
      <th scope="col">Faza rada</th>
      <th scope="col">Vrste</th>
      <th scope="col">Kolicina (m³)</th>
      <th scope="col">Cijena (KM/m³)</th>
      <th scope="col">Ukupno (KM)</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th scope="row" rowspan="8">{{odjel}}</th>
    </tr>

    <tr>
      <td scope="row" rowspan="2">Sjeca i izrada</td>
      <td scope="row" rowspan="1">cetinari</td>
      <td scope="row" rowspan="1">{{ukupnoCetinari | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{cjenaSjeceCetinari | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{trosakSjeceCetinari | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td scope="row" rowspan="1">liscari</td>
      <td scope="row" rowspan="1">{{ukupnoLiscari | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{cjenaSjeceLiscari | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{trosakSjeceLiscari | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td scope="row" rowspan="2">Privlacenje</td>
      <td scope="row" rowspan="1">cetinari</td>
      <td scope="row" rowspan="1">{{ukupnoCetinari | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{cjenaDebelaTankaCet | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{trosakAnimalCetinari | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td scope="row" rowspan="1">liscari</td>
      <td scope="row" rowspan="1">{{ukupnoLiscari | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{cjenaDebelaTankaLis | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{trosakAnimalLiscari | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td scope="row" rowspan="2">Iznosenje</td>
      <td scope="row" rowspan="1">cetinari</td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1"></td>
    </tr>
    <tr>
      <td scope="row" rowspan="1">liscari</td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1"></td>
    </tr>
    <tr>
      <td scope="row" rowspan="2">Ukupno</td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1">{{ukupnoSortimenti | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{cjenaKubik | number: '1.2-2'}}</td>
      <td scope="row" rowspan="1">{{trosakCetinariLiscari | number: '1.2-2'}}</td>
    </tr>
    </tbody>
  </table>
  </div>

<div class="sortimentna-tabela">
    <table class="table table-bordered dobit-tabela"  *ngIf="jelaShowTable || smrcaShowTable || bukvaShowTable">
      <thead>
      <tr>
        <th class="bg-siva" scope="col" colspan="2">Ostvarena dobit</th>
      </tr>
      <tr>
        <th class="bg-siva" scope="col">Prihodi</th>
        <td scope="row" rowspan="1">{{ukupnoValuta | number: '1.2-2'}}</td>
      </tr>
      </thead>
      <tbody>

      <tr>
        <th scope="row" rowspan="1">Direktni troskovi</th>
        <td scope="row" rowspan="1">{{trosakCetinariLiscari | number: '1.2-2'}}</td>
      </tr>

      <tr>
        <th scope="row" rowspan="1">Dobit</th>
        <td scope="row" rowspan="2">{{dobit | number: '1.2-2'}}</td>
      </tr>
      </tbody>
    </table>
</div>

<button class="btn btn-primary" (click)="printPage()">Print</button>
