<h1 class="sikira-header" *ngIf="showSikiraImage">Unijeti sortimente i uslove rada</h1>
<img class="rounded-circle circle-sizer" *ngIf="showSikiraImage" src="/assets/panjSikira.jpg" alt="image">

<div class="sortimentna-tabela">
<table class="table table-bordered prihod-realizacija" *ngIf="jelaShowTable || smrcaShowTable || bukvaShowTable">
  <thead class="thead-dark">
  <tr>
    <th class="bg-siva" scope="col" colspan="5">Prihodi od realizacije drvnih sortimenata</th>
  </tr>
  <tr class="bg-siva">
    <th scope="col">Sifra vrste</th>
    <th scope="col" class="text-dark">Klase</th>
    <th scope="col" class="text-dark">Kolicina (m³)</th>
    <th scope="col" class="text-dark">Cijena (KM/m³)</th>
    <th scope="col" class="text-dark">Ukupno (KM)</th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>F</td>
    <td>{{fTrupciJela}}</td>
    <td>{{cjenaFJela}}</td>
    <td>{{valuta.ukupnoFJela}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>I</td>
    <td>{{prvaKlasaJela}}</td>
    <td>{{cjenaPrvaJela}}</td>
    <td>{{valuta.ukupnoPrvaJela}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>II</td>
    <td>{{drugaKlasaJela}}</td>
    <td>{{cjenaDrugaJela}}</td>
    <td>{{valuta.ukupnoDrugaJela}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>III</td>
    <td>{{trecaKlasaJela}}</td>
    <td>{{cjenaTrecaJela}}</td>
    <td>{{valuta.ukupnoTrecaJela}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>TT stubovi</td>
    <td>{{stuboviJela}}</td>
    <td>{{cjenaStuboviJela}}</td>
    <td>{{valuta.ukupnoStuboviJela}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>Rudno</td>
    <td>{{rudnoJela}}</td>
    <td>{{cjenaRudnoJela}}</td>
    <td>{{valuta.ukupnoRudnoJela}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>Kolje za voce</td>
    <td>{{koljeJela}}</td>
    <td>{{cjenaKoljeJela}}</td>
    <td>{{valuta.ukupnoKoljeJela}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="jelaShowTable">
    <th scope="row">21</th>
    <td>Celuloza</td>
    <td>{{celulozaJela}}</td>
    <td>{{cjenaCelulozaJela}}</td>
    <td>{{valuta.ukupnoCelulozaJela}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>F</td>
    <td>{{fTrupciSmrca}}</td>
    <td>{{cjenaFSmrca}}</td>
    <td>{{valuta.ukupnoFSmrca}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>I</td>
    <td>{{prvaKlasaSmrca}}</td>
    <td>{{cjenaPrvaSmrca}}</td>
    <td>{{valuta.ukupnoPrvaSmrca}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>II</td>
    <td>{{drugaKlasaSmrca}}</td>
    <td>{{cjenaDrugaSmrca}}</td>
    <td>{{valuta.ukupnoDrugaSmrca}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>III</td>
    <td>{{trecaKlasaSmrca}}</td>
    <td>{{cjenaTrecaSmrca}}</td>
    <td>{{valuta.ukupnoTrecaSmrca}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>TT stubovi</td>
    <td>{{stuboviSmrca}}</td>
    <td>{{cjenaStuboviSmrca}}</td>
    <td>{{valuta.ukupnoStuboviSmrca}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>Rudno</td>
    <td>{{rudnoSmrca}}</td>
    <td>{{cjenaRudnoSmrca}}</td>
    <td>{{valuta.ukupnoRudnoSmrca}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>Kolje za voce</td>
    <td>{{koljeSmrca}}</td>
    <td>{{cjenaKoljeSmrca}}</td>
    <td>{{valuta.ukupnoKoljeSmrca}}</td>
  </tr>
  <tr class="bg-siva" *ngIf="smrcaShowTable">
    <th scope="row">22</th>
    <td>Celuloza</td>
    <td>{{celulozaSmrca}}</td>
    <td>{{cjenaCelulozaSmrca}}</td>
    <td>{{valuta.ukupnoCelulozaSmrca}}</td>
  </tr>

  <tr class="bg" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>F</td>
    <td>{{fTrupciBukva}}</td>
    <td>{{cjenaFBukva}}</td>
    <td>{{valuta.ukupnoFBukva}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>L</td>
    <td>{{lTrupciBukva}}</td>
    <td>{{cjenaLBukva}}</td>
    <td>{{valuta.ukupnoLBukva}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>I</td>
    <td>{{prvaKlasaBukva}}</td>
    <td>{{cjenaPrvaBukva}}</td>
    <td>{{valuta.ukupnoPrvaBukva}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>II</td>
    <td>{{drugaKlasaBukva}}</td>
    <td>{{cjenaDrugaBukva}}</td>
    <td>{{valuta.ukupnoDrugaBukva}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>III</td>
    <td>{{trecaKlasaBukva}}</td>
    <td>{{cjenaTrecaBukva}}</td>
    <td>{{valuta.ukupnoTrecaBukva}}</td>
  </tr>
  <tr class="bg-suma" *ngIf="bukvaShowTable">
    <th scope="row">41</th>
    <td>Ogrevno drvo</td>
    <td>{{valuta.ogrevZajednoBukva}}</td>
    <td>{{cjenaZajednoOgrev}}</td>
    <td>{{valuta.ukupnoOgrevBukva}}</td>
  </tr>

  <tr class="bg-suma">
    <th scope="row">Ukupno</th>
    <td></td>
    <td>{{valuta.ukupnoSortimenti}}</td>
    <td></td>
    <td>{{valuta.ukupnoValuta}}</td>
  </tr>


  </tbody>
</table>
</div>


  <div class="sortimentna-tabela">
  <table class="table table-bordered page-break troskovi-sjece"  *ngIf="jelaShowTable || smrcaShowTable || bukvaShowTable">
    <thead>
    <tr>
      <th class="bg-siva" scope="col" colspan="6">Troskovi sjece, izrade privlacenja i iznosenja drvnih sortimenata</th>
    </tr>
    <tr class="bg-siva">
      <th scope="col">Odjel</th>
      <th scope="col">Faza rada</th>
      <th scope="col">Vrste</th>
      <th scope="col">Kolicina (m³)</th>
      <th scope="col">Cijena (KM/m³)</th>
      <th scope="col">Ukupno (KM)</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th scope="row" rowspan="8">{{odjel}}</th>
    </tr>

    <tr>
      <td scope="row" rowspan="2">Sjeca i izrada</td>
      <td scope="row" rowspan="1">cetinari</td>
      <td scope="row" rowspan="1">{{valuta.ukupnoCetinari}}</td>
      <td scope="row" rowspan="1">{{valuta.cjenaSjeceCetinari}}</td>
      <td scope="row" rowspan="1">{{valuta.trosakSjeceCetinari}}</td>
    </tr>
    <tr>
      <td scope="row" rowspan="1">liscari</td>
      <td scope="row" rowspan="1">{{valuta.ukupnoLiscari}}</td>
      <td scope="row" rowspan="1">{{valuta.cjenaSjeceLiscari}}</td>
      <td scope="row" rowspan="1">{{valuta.trosakSjeceLiscari}}</td>
    </tr>
    <tr>
      <td scope="row" rowspan="2">Privlacenje</td>
      <td scope="row" rowspan="1">cetinari</td>
      <td scope="row" rowspan="1">{{valuta.ukupnoCetinari}}</td>
      <td scope="row" rowspan="1">{{valuta.cjenaDebelaTankaCet}}</td>
      <td scope="row" rowspan="1">{{valuta.trosakAnimalCetinari}}</td>
    </tr>
    <tr>
      <td scope="row" rowspan="1">liscari</td>
      <td scope="row" rowspan="1">{{valuta.ukupnoLiscari}}</td>
      <td scope="row" rowspan="1">{{valuta.cjenaDebelaTankaLis}}</td>
      <td scope="row" rowspan="1">{{valuta.trosakAnimalLiscari}}</td>
    </tr>
    <tr>
      <td scope="row" rowspan="2">Iznosenje</td>
      <td scope="row" rowspan="1">cetinari</td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1"></td>
    </tr>
    <tr>
      <td scope="row" rowspan="1">liscari</td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1"></td>
    </tr>
    <tr>
      <td scope="row" rowspan="2">Ukupno</td>
      <td scope="row" rowspan="1"></td>
      <td scope="row" rowspan="1">{{valuta.ukupnoSortimenti}}</td>
      <td scope="row" rowspan="1">{{valuta.cjenaKubik}}</td>
      <td scope="row" rowspan="1">{{valuta.trosakCetinariLiscari}}</td>
    </tr>
    </tbody>
  </table>
  </div>

<div class="sortimentna-tabela">
    <table class="table table-bordered dobit-tabela"  *ngIf="jelaShowTable || smrcaShowTable || bukvaShowTable">
      <thead>
      <tr>
        <th class="bg-siva" scope="col" colspan="2">Ostvarena dobit</th>
      </tr>
      <tr>
        <th class="bg-siva" scope="col">Prihodi</th>
        <td scope="row" rowspan="1">{{valuta.ukupnoValuta}}</td>
      </tr>
      </thead>
      <tbody>

      <tr>
        <th scope="row" rowspan="1">Direktni troskovi</th>
        <td scope="row" rowspan="1">{{valuta.trosakCetinariLiscari}}</td>
      </tr>

      <tr>
        <th scope="row" rowspan="1">Dobit</th>
        <td scope="row" rowspan="2">{{valuta.dobit}}</td>
      </tr>
      </tbody>
    </table>
</div>

<button class="btn btn-primary" (click)="printPage()">Print</button>
