<div class="container">
<!--  <div class="memo">-->
    <img class="memorandum" src="/assets/memorandum.png" alt="image">
<!--  </div>-->


  <div class="gazdinstvo">Шумско Газдинство „Klekovaca-potoci“ Istocni Drvar</div>
  <div class="broj-rjesenja">Број: ______________/21</div>
  <div class="broj-rjesenja"> Дана: _____________2021. године</div>

  <div class="tekst-paragraf">
    На основу чланова 24. Закона о шумама, члана 19. Статута ЈПШ „ Шуме Републике Српске“ и члана 2. Oдлуке о врсти
    послова и овлашћењима у пословању организационим дијеловима ЈПШ“Шуме Републике Српске“, те на основу мишљења
    контроле именоване Рјешењем бр. 11.24/0206-448/20 доноси:
  </div>

  <div class="naslov">ОДЛУКУ</div>


  <div class="podnaslov">о усвајању Извођачког пројекта</div>

  <div class="podnaslov">Члан 1.</div>
  <div class="tekst-paragraf">Усваја се Пројекат за извођење одјел 22. П.Ј. „Потоци Ресановача“.</div>

  <div class="podnaslov">Члан 2.</div>
  <div class="tekst-paragraf">Саставни дио ове Oдлуке чини Пројекат за извођење одјел 22. П.Ј. „Потоци Ресановача“.</div>

  <div class="podnaslov">Члан 4.</div>
  <div class="tekst-paragraf">Надзор над реализацијом Извођачког пројеката из члана 1. ове Одлуке именује се Небојша Јаћимовић, дипл. инж.
    шум.
  </div>

  <div class="podnaslov">Члан 4.</div>
  <div class="tekst-paragraf">Ова Одлука ступа на снагу даном доношења исте.</div>


  <ul>Достављено:
  <li>Именованом</li>
  <li>Служби за припрему производње</li>
  <li>А/А</li>
  </ul>

  <div class="direktor-naslov">
  <div class="direktor-padding">Директор:</div>
  <div class="direktor">Милан Кецман, дипл.инж.шум.</div>
  </div>
</div>
