.memorandum{
  margin-left: 100px;
  padding-top: 0;
}

.gazdinstvo{
  font-weight: bold;
  padding-top: 0;
}

.broj-rjesenja{
  padding-top: 0;
}

.naslov{
  text-align: center;
  /*font-size: 25px;*/
  font-weight: bold;
  padding-top: 170px;
}

.odjel{
  padding-top: 15px;
  text-align: center;
}

.privredna-jedinica{
  padding-top: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.privredno-podrucje{
  padding-top: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.container-bottom{
  padding-top: 230px;
  display: flex;
}

.jc-center {
  justify-content: center;
}

.projektant{
  margin-right: 350px;
}

.rukovodilac{
  margin-right: 50px;
}

.titula-wrapper{
  display: flex;
  justify-content: space-between;
}

.titula-projektant{
  /*margin-left: 600px;*/
  text-align: left;
  white-space: nowrap;
}

.titula-projektant::before
{
  content: attr(inzenjer);
}


.titula-sef{
        margin-right: 0;
        margin-left: 0;
      text-align: left;
      white-space: nowrap;
}

.titula-sef::after
{
  content: attr(sef);
}


/*@media print {*/

/*.memorandum{*/
/*  !*margin-left: 100px;*!*/
/*  padding-top: 0;*/
/*  width:700px;*/
/*  height: 350px;*/
/*}*/


/*.gazdinstvo{*/
/*  font-weight: bold;*/
/*  margin-left: 100px;*/
/*}*/

/*.broj-rjesenja{*/
/*  margin-left: 100px;*/
/*}*/

/*.naslov{*/
/*  text-align: center;*/
/*  font-size: 25px;*/
/*  font-weight: bold;*/
/*  padding-top: 100px;*/
/*}*/

/*.odjel{*/
/*  padding-top: 7px;*/
/*  text-align: center;*/
/*}*/

/*.privredna-jedinica{*/
/*  padding-top: 7px;*/
/*  text-align: center;*/
/*  font-size: 18px;*/
/*  font-weight: bold;*/
/*}*/

/*  .privredno-podrucje{*/
/*    padding-top: 5px;*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*  }*/

/*.container-bottom{*/
/*  padding-top: 150px;*/
/*  display: flex;*/
/*}*/

/*.jc-center {*/
/*  justify-content: center;*/
/*}*/

/*.projektant{*/
/*  margin-right: 350px;*/
/*}*/

/*.rukovodilac{*/
/*  margin-right: 50px;*/
/*}*/


/*  .titula-wrapper{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*  }*/

/*  .titula-projektant{*/
/*      margin-right: 0;*/
/*      margin-left: 0;*/
/*    text-align: left;*/
/*    white-space: nowrap;*/
/*  }*/

/*  .titula-projektant::before*/
/*  {*/
/*    content: attr(inzenjer);*/
/*  }*/


/*  .titula-sef{*/
/*    margin-right: 50px;*/
/*    text-align: right;*/
/*    white-space: nowrap;*/
/*  }*/

/*  .titula-sef::after*/
/*  {*/
/*    content: attr(sef);*/
/*  }*/

/*}*/
