<img class="memorandum" src="/assets/memorandum.png" alt="image">
<div class="gazdinstvo">Шумско Газдинство  „{{gazdinstvo}}“  {{ grad}}</div>
<div class="broj-rjesenja">Број: ______________/21</div>
<div class="broj-rjesenja">  Дана: _____________2021. године</div>
<div class="naslov">И З В О Ђ А Ч К И  &nbsp; &nbsp;   П Р О Ј Е К А Т</div>
<div class="odjel">ОДЈЕЉЕЊЕ: {{odjel}}.</div>
<div class="odjel">{{vrstaSjece}}</div>
<div class="privredna-jedinica">П.Ј.  „{{privrednaJedinica}}“</div>
<div class="privredno-podrucje">ШПП  „{{sumskoPrivrednoPodrucje}}“</div>
<div class="container-bottom jc-center">
  <div class="projektant">ПРОЈЕКТАНТ:</div>
<div class="rukovodilac">РУКОВОДИЛАЦ СЛУЖБЕ<br> ПРИПРЕМЕ ПРОИЗВОДЊЕ:</div>
</div>
<div class="titula-wrapper jc-center">
  <div class="titula-projektant"> {{projektant}} дипл.инж.шум.</div>
  <div class="titula-sef">Tadic Milan дипл.инж.шум.</div>
</div>

<button class="btn btn-primary" (click)="printPage()">Print</button>
