
.reg_name {
  max-width:300px;
}

.form-group{
  margin-left: 550px;
}

.zavrsiUnosMasaBtn{
float: right;
  padding-bottom: 30px;
}

.potvrdaMasaBtn{
  margin-left: 100px;
  padding-bottom: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
