<div class="container">
  <form [formGroup]="sortimentiFormGroup" (ngSubmit)="onSubmit()">
      <div class="form-group col-xs-6">
        <label for="izabranaVrsta">Vrsta drveta</label>
        <select class="form-select input-group-lg reg_name"
                formControlName="izabranaVrsta" id="izabranaVrsta"
                (click)="onSelectVrsta()" required>
          <option value="21" [hidden]="hideJela">Jela</option>
          <option value="22" [hidden]="hideSmrca">Smrca</option>
          <option value="23" [hidden]="hideBijeliBor">Bijeli Bor</option>
          <option value="24" [hidden]="hideCrniBor">Crni Bor</option>
          <option value="41" [hidden]="hideBukva">Bukva</option>
          <option value="42" [hidden]="hideHrast">Hrast</option>
          <option value="46" [hidden]="hideBrijest">Brijest</option>
          <option value="91" [hidden]="hideOstali">Jasika-Ostali</option>
        </select>
      </div>

    <div class="row">
      <div class="rezonant form-group col-xs-6" *ngIf="rezonantInputs">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="rezonant" id="rezonant"
               onKeyPress="if(this.value.length==9) return false;" placeholder="rezonantni trupac">
      </div>
      <div class="fTrupci form-group col-xs-6">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="fTrupci" id="fTrupci"
               onKeyPress="if(this.value.length==9) return false;" placeholder="F Trupci">
      </div>
      <div class="lTrupci form-group col-xs-6" *ngIf="lInputs">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="lTrupci" id="lTrupci"
               onKeyPress="if(this.value.length==9) return false;" placeholder="L Trupci">
      </div>
      <div class="prvaKlasa form-group col-xs-6">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="prvaKlasa" id="prvaKlasa"
               onKeyPress="if(this.value.length==9) return false;" placeholder="I klasa">
      </div>
      <div class="drugaKlasa form-group col-xs-6">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="drugaKlasa" id="drugaKlasa"
               onKeyPress="if(this.value.length==9) return false;" placeholder="II klasa">
      </div>
      <div class="trecaKlasa form-group col-xs-6" *ngIf="trecaKlasaInputs">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="trecaKlasa" id="trecaKlasa"
               onKeyPress="if(this.value.length==9) return false;" required placeholder="III klasa">
      </div>
      <div class="stuboviZaVodove form-group col-xs-6" *ngIf="tankaOblovinaInputs">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="stuboviZaVodove"
               id="stuboviZaVodove" onKeyPress="if(this.value.length==9) return false;" placeholder="TT stubovi">
      </div>
      <div class="jamskoDrvo form-group col-xs-6" *ngIf="tankaOblovinaInputs">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="jamskoDrvo" id="jamskoDrvo"
               onKeyPress="if(this.value.length==9) return false;" placeholder="Jamsko drvo">
      </div>
      <div class="koljeZaVoce form-group col-xs-6" *ngIf="tankaOblovinaInputs">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="koljeZaVoce" id="koljeZaVoce"
               onKeyPress="if(this.value.length==9) return false;" placeholder="Kolje za voce">
      </div>
      <div class="celuloznoDrvo form-group col-xs-6">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="celuloznoDrvo"
               id="celuloznoDrvo" onKeyPress="if(this.value.length==9) return false;" placeholder="Celulozno drvo">
      </div>
      <div class="ogrevPrveKlase form-group col-xs-6" *ngIf="ogrevInputs">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="ogrevPrveKlase"
               id="ogrevPrveKlase" onKeyPress="if(this.value.length==9) return false;" placeholder="Ogrev I klase">
      </div>
      <div class="ogrevDrugeKlase form-group col-xs-6" *ngIf="ogrevInputs">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="ogrevDrugeKlase"
               id="ogrevDrugeKlase" onKeyPress="if(this.value.length==9) return false;" placeholder="Ogrev II klase">
      </div>
      <div class="sveukupnaDrvnaMasa form-group col-xs-6">
        <input type="number" class="form-control input-group-lg reg_name" formControlName="sveukupnaDrvnaMasa"
               id="sveukupnaDrvnaMasa" onKeyPress="if(this.value.length==9) return false;" required placeholder="Sveukupna masa">
      </div>

        <div class="text-danger form-group col-xs-6" *ngIf="neIzabranaVrsta">
          Izaberite vrstu
        </div>
        <div class="text-danger form-group col-xs-6" *ngIf="sveUkupnaFalse">
          Unijeti sveukupnu masu
        </div>
        <div class="text-danger form-group col-xs-6" *ngIf="neUneseniTrupci">
          Nedostaju podaci za trupce i tanku oblovinu
        </div>
<!--      </div>-->

    </div>
    <hr>
    <div class="potvrdaMasaBtn text-center">
      <button class="btn btn-primary btn-lg" type="button" (click)="validateSubmit()">Unesi zapreminu</button>
    </div>
  </form>

  <table class="table table-hover">
    <thead>

    <tr>
      <td></td>
      <th *ngFor="let klase of this.klase">
        {{klase}}
      </th>
    </tr>

    <tr>
      <td>Jela</td>
      <td *ngFor="let itemJela of this.trupci.trupciJela">
        {{itemJela}}
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Smrca</td>
      <td *ngFor="let itemSmrca of this.trupci.trupciSmrca">
        {{itemSmrca}}
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Bijeli Bor</td>
      <td *ngFor="let itemBijeliBor of this.trupci.trupciBijeliBor">
        {{itemBijeliBor}}
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Crni Bor</td>
      <td *ngFor="let itemCrniBor of this.trupci.trupciCrniBor">
        {{itemCrniBor}}
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Bukva</td>
      <td *ngFor="let itemBukva of this.trupci.trupciBukva">
        {{itemBukva}}
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Hrast</td>
      <td *ngFor="let itemHrast of this.trupci.trupciHrast">
        {{itemHrast}}
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Brijest</td>
      <td *ngFor="let itemBrijest of this.trupci.trupciBrijest">
        {{itemBrijest}}
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Ostali</td>
      <td *ngFor="let itemOstali of this.trupci.trupciOstali">
        {{itemOstali}}
      </td>
      <td></td>
    </tr>

    </thead>

  </table>
  <div class="zavrsiUnosMasaBtn" *ngIf="uneseneMase">
    <button class="btn btn-success btn-lg" type="button"
            [disabled]="readyForNormeStep"
            (click)="calcAllAfterPush()">Zavrsi unos zapremine</button>
  </div>
</div>
