<form [formGroup]="sortimentiFormGroup" (ngSubmit)="onSubmit()">


  <div class="row">
    <div class="form-group col-sm-1">
      <label for="izabranaVrsta">Vrsta drveta</label>
      <select class="form-control selectSizeCustom" formControlName="izabranaVrsta" id="izabranaVrsta" (click)="onSelectVrsta()">
        <option value="21">Jela</option>
        <option value="22">Smrca</option>
        <option value="41">Bukva</option>
        <option value="50">Plemeniti</option>
      </select>
    </div>

    <div class="col-sm-1">
      <label for="srednjiPrecnik" class="control-label">Srednji precnik</label>
      <input type="number" class="form-control bg-info text-white" formControlName="srednjiPrecnik"
             id="srednjiPrecnik"
             onKeyPress="if(this.value.length==5) return false;">
    </div>
    <img class="rounded-circle circle-sizer" *ngIf="showVrstaImage" src="/assets/{{vrstaSlika}}.png" alt="image">
  </div>



  <div class="row">
    <div class="col-md-1">
      <label for="fTrupci" class="control-label">F trupci</label>
    </div>
    <div class="col-md-1">
      <label for="lTrupci" class="control-label">L trupci</label>
    </div>
    <div class="col-md-1">
      <label for="prvaKlasa" class="control-label">Prva klasa</label>
    </div>
    <div class="col-md-1">
      <label for="drugaKlasa" class="control-label">Druga klasa</label>
    </div>
    <div class="col-md-1">
      <label for="trecaKlasa" class="control-label">Treca klasa</label>
    </div>
    <div class="col-md-1">
      <label for="stuboviZaVodove" class="control-label">Stubovi za vodove</label>
    </div>
    <div class="col-md-1">
      <label for="jamskoDrvo" class="control-label">Jamsko drvo</label>
    </div>
    <div class="col-md-1">
      <label for="koljeZaVoce" class="control-label">Kolje za voce</label>
    </div>
    <div class="col-md-1">
      <label for="celuloznoDrvo" class="control-label">Celulozno drvo</label>
    </div>
    <div class="col-md-1">
      <label for="ogrevPrveKlase" class="control-label">Ogrev prve klase</label>
    </div>
    <div class="col-md-1">
      <label for="ogrevDrugeKlase" class="control-label">Ogrev druge klase</label>
    </div>
    <div class="col-md-1">
      <label for="sveukupnaDrvnaMasa" class="control-label">Sveukupna masa</label>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="fTrupci" id="fTrupci"
             onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="lTrupci" id="lTrupci"
             onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="prvaKlasa" id="prvaKlasa"
             onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="drugaKlasa" id="drugaKlasa"
             onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="trecaKlasa" id="trecaKlasa"
             onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="stuboviZaVodove"
             id="stuboviZaVodove" onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="jamskoDrvo" id="jamskoDrvo"
             onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="koljeZaVoce" id="koljeZaVoce"
             onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="celuloznoDrvo"
             id="celuloznoDrvo" onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="ogrevPrveKlase"
             id="ogrevPrveKlase" onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="ogrevDrugeKlase"
             id="ogrevDrugeKlase" onKeyPress="if(this.value.length==5) return false;">
    </div>
    <div class="col-sm-1">
      <input type="number" class="form-control bg-secondary text-white" formControlName="sveukupnaDrvnaMasa"
             id="sveukupnaDrvnaMasa" onKeyPress="if(this.value.length==5) return false;">
      <div>
        <button class="btn btn-primary" type="button" (click)="onSubmit()">Submit</button>
      </div>
    </div>
    </div>



</form>

<div>

  <table class="sortimentnaTabela  table table-bordered">
    <thead>
    <tr>
      <th scope="col" style="width: 5%">Sortimentna Struktura</th>
      <th scope="col" style="width: 5%" class="text-dark bg-white">F</th>
      <th scope="col" style="width: 5%"class="text-light bg-warning">L</th>
      <th scope="col" style="width: 5%" class="text-light bg-primary">I klasa</th>
      <th scope="col" style="width: 5%" class="text-light bg-success">II klasa</th>
      <th scope="col" style="width: 5%" class="text-light bg-danger">III klasa</th>
      <th scope="col" style="width: 5%" class="text-light bg-dark">TT stubovi</th>
      <th scope="col" style="width: 5%" class="bg-rudno">Jamsko Drvo</th>
      <th scope="col" style="width: 5%" class="bg-celuloza">Kolje za voce</th>
      <th scope="col" style="width: 5%" class="bg-celuloza">Celulozno drvo</th>
      <th scope="col" style="width: 5%" class="bg-ogrev">Ogrev I klase</th>
      <th scope="col" style="width: 5%" class="bg-ogrev">Ogrev II klase</th>
      <th scope="col" style="width: 5%">Sveukupna Drvna Masa</th>
      <th scope="col" style="width: 5%">Srednji precnik</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Jela</th>
      <td>{{sumaJela.fTrupci}}</td>
      <td>{{sumaJela.lKlase}}</td>
      <td>{{sumaJela.prvaKlasa}}</td>
      <td>{{sumaJela.drugaKlasa}}</td>
      <td>{{sumaJela.trecaKlasa}}</td>
      <td>{{sumaJela.stubovi}}</td>
      <td>{{sumaJela.jamskoDrvo}}</td>
      <td>{{sumaJela.koljeZaVoce}}</td>
      <td>{{sumaJela.celuloznoDrvo}}</td>
      <td>{{sumaJela.ogrevPrveKlase}}</td>
      <td>{{sumaJela.ogrevDrugeKlase}}</td>
      <td>{{sumaJela.sveukupnaDrvnaMasa}}</td>
      <td>{{sumaJela.srednjiPrecnik}}</td>
    </tr>
    <tr>
      <th scope="row">Smrca</th>
      <td>{{sumaSmrca.fTrupci}}</td>
      <td>{{sumaSmrca.lKlase}}</td>
      <td>{{sumaSmrca.prvaKlasa}}</td>
      <td>{{sumaSmrca.drugaKlasa}}</td>
      <td>{{sumaSmrca.trecaKlasa}}</td>
      <td>{{sumaSmrca.stubovi}}</td>
      <td>{{sumaSmrca.jamskoDrvo}}</td>
      <td>{{sumaSmrca.koljeZaVoce}}</td>
      <td>{{sumaSmrca.celuloznoDrvo}}</td>
      <td>{{sumaSmrca.ogrevPrveKlase}}</td>
      <td>{{sumaSmrca.ogrevDrugeKlase}}</td>
      <td>{{sumaSmrca.sveukupnaDrvnaMasa}}</td>
      <td>{{sumaSmrca.srednjiPrecnik}}</td>
    </tr>
    <tr class="bg-suma">
      <th scope="row">Ukupno cetinara</th>
      <td>{{sumaCetinari.fKlase}}</td>
      <td>{{sumaCetinari.lKlase}}</td>
      <td>{{sumaCetinari.prvaKlasa}}</td>
      <td>{{sumaCetinari.drugaKlasa}}</td>
      <td>{{sumaCetinari.trecaKlasa}}</td>
      <td>{{sumaCetinari.stubovi}}</td>
      <td>{{sumaCetinari.jamskoDrvo}}</td>
      <td>{{sumaCetinari.koljeZaVoce}}</td>
      <td>{{sumaCetinari.celuloznoDrvo}}</td>
      <td>{{sumaCetinari.ogrevPrveKlase}}</td>
      <td>{{sumaCetinari.ogrevDrugeKlase}}</td>
      <td>{{sumaCetinari.sveukupnaDrvnaMasa}}</td>
      <td>{{sumaCetinari.srednjiPrecnik}}</td>
    </tr>
    <tr>
      <th scope="row">Bukva</th>
      <td>{{sumaBukva.fTrupci}}</td>
      <td>{{sumaBukva.lKlase}}</td>
      <td>{{sumaBukva.prvaKlasa}}</td>
      <td>{{sumaBukva.drugaKlasa}}</td>
      <td>{{sumaBukva.trecaKlasa}}</td>
      <td>{{sumaBukva.stubovi}}</td>
      <td>{{sumaBukva.jamskoDrvo}}</td>
      <td>{{sumaBukva.koljeZaVoce}}</td>
      <td>{{sumaBukva.celuloznoDrvo}}</td>
      <td>{{sumaBukva.ogrevPrveKlase}}</td>
      <td>{{sumaBukva.ogrevDrugeKlase}}</td>
      <td>{{sumaBukva.sveukupnaDrvnaMasa}}</td>
      <td>{{sumaBukva.srednjiPrecnik}}</td>
    </tr>
    <tr>
      <th scope="row">Plemeniti</th>
      <td>{{sumaPlemeniti.fTrupci}}</td>
      <td>{{sumaPlemeniti.lKlase}}</td>
      <td>{{sumaPlemeniti.prvaKlasa}}</td>
      <td>{{sumaPlemeniti.drugaKlasa}}</td>
      <td>{{sumaPlemeniti.trecaKlasa}}</td>
      <td>{{sumaPlemeniti.stubovi}}</td>
      <td>{{sumaPlemeniti.jamskoDrvo}}</td>
      <td>{{sumaPlemeniti.koljeZaVoce}}</td>
      <td>{{sumaPlemeniti.celuloznoDrvo}}</td>
      <td>{{sumaPlemeniti.ogrevPrveKlase}}</td>
      <td>{{sumaPlemeniti.ogrevDrugeKlase}}</td>
      <td>{{sumaPlemeniti.sveukupnaDrvnaMasa}}</td>
      <td>{{sumaPlemeniti.srednjiPrecnik}}</td>
    </tr>
    <tr class="bg-suma">
      <th scope="row">Ukupno liscari</th>
      <td>{{sumaLiscari.fKlase}}</td>
      <td>{{sumaLiscari.lKlase}}</td>
      <td>{{sumaLiscari.prvaKlasa}}</td>
      <td>{{sumaLiscari.drugaKlasa}}</td>
      <td>{{sumaLiscari.trecaKlasa}}</td>
      <td>{{sumaLiscari.stubovi}}</td>
      <td>{{sumaLiscari.jamskoDrvo}}</td>
      <td>{{sumaLiscari.koljeZaVoce}}</td>
      <td>{{sumaLiscari.celuloznoDrvo}}</td>
      <td>{{sumaLiscari.ogrevPrveKlase}}</td>
      <td>{{sumaLiscari.ogrevDrugeKlase}}</td>
      <td>{{sumaLiscari.sveukupnaDrvnaMasa}}</td>
      <td>{{sumaLiscari.srednjiPrecnik}}</td>
    </tr>
    <tr class="bg-suma">
      <th scope="row">Ukupno cetinari i liscari</th>
      <td>{{sumaCetinariLiscari.fKlase}}</td>
      <td>{{sumaCetinariLiscari.lKlase}}</td>
      <td>{{sumaCetinariLiscari.prvaKlasa}}</td>
      <td>{{sumaCetinariLiscari.drugaKlasa}}</td>
      <td>{{sumaCetinariLiscari.trecaKlasa}}</td>
      <td>{{sumaCetinariLiscari.stubovi}}</td>
      <td>{{sumaCetinariLiscari.jamskoDrvo}}</td>
      <td>{{sumaCetinariLiscari.koljeZaVoce}}</td>
      <td>{{sumaCetinariLiscari.celuloznoDrvo}}</td>
      <td>{{sumaCetinariLiscari.ogrevPrveKlase}}</td>
      <td>{{sumaCetinariLiscari.ogrevDrugeKlase}}</td>
      <td>{{sumaCetinariLiscari.sveukupnaDrvnaMasa}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>


<div>Neto kolicina jele iznosi: {{netoJela}}</div>
<div>Neto kolicina smrca iznosi: {{netoSmrca}}</div>
<div>Neto kolicina jele i smrce iznosi: {{netoJelaSmrca}}</div>
<div>Neto kolicina bukva i plemenit iznosi: {{netoLiscari}}</div>
<div>Ukupna neto kolicina sortimenata iznosi: {{netoCetinariLiscari}}</div>
<div>Troskovi projekta iznosi: {{sumTroskova}}</div>
<div>Cjena projekta po kubiku iznosi: {{sumCjenaProjekta}}</div>


