<!-- 
<p>{{norme.bonitetCetinari}}</p>
<p>{{norme.bonitetLiscari}}</p>
<p>{{cijenaSjeceCet}}</p>
<table class="table table-bordered">
    
        <thead>
          <tr>
            <th scope="col">Faza rada</th>
            <th scope="col">Uslovi rada</th>
            <th scope="col">Bonitet</th>
            <th scope="col">Srednji precnik(cm)</th>
            <th scope="col">Srednja distanca(m)</th>
            <th scope="col">Kolicina(m3)</th>
            <th scope="col">Norma(m3/RD)</th>
            <th scope="col">Cijena(KM/m3)</th>
            <th scope="col">Radni dani</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Sjeca cetinari</th>
            <td>{{norme.usloviRadaCetSjeca}}</td>
            <td>{{norme.bonitetCetinari}}</td>
            <td>{{norme.srednjiPrecnikCetinari}}</td>
            <td>{{0}}</td>
            <td>{{norme.netoCet}}</td>
            <td>{{norme.normaCetSjeca}}</td>
            <td>{{cijenaSjeceCet}}</td>
            <td>{{5}}</td>
          </tr>
          <tr>
            <th scope="row">Sjeca liscari</th>
            <td>{{norme.usloviRadaLisSjeca}}</td>
            <td>{{norme.bonitetLiscari}}</td>
            <td>{{norme.srednjiPrecnikLiscari}}</td>
            <td>{{0}}</td>
            <td>{{norme.netoLis}}</td>
            <td>{{norme.normaLisSjeca}}</td>
            <td>{{cijenaSjeceLis}}</td>
            <td>{{5}}</td>
          </tr>
          <tr>
            <th scope="row">Suma cetinari</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{neto}}</td>
            <td></td>
            <td>{{cijenaSjece}}</td>
          </tr>
          <tr>
            <th scope="row">Privlacenje cetinari</th>
            <td>{{norme.usloviRadaCetAnimal}}</td>
            <td>{{norme.bonitetCetinari}}</td>
            <td>{{norme.srednjiPrecnikCetinari}}</td>
            <td>{{norme.udaljenostOdCeste}}</td>
            <td>{{norme.netoCet}}</td>
            <td>{{norme.normaCetAnimal}}</td>
            <td>{{cijenaAnimalCet}}</td>
            <td>{{5}}</td>
          </tr>
          <tr>
            <th scope="row">Privlacenje liscari</th>
            <td>{{norme.usloviRadaLisAnimal}}</td>
            <td>{{norme.bonitetLiscari}}</td>
            <td>{{norme.srednjiPrecnikLiscari}}</td>
            <td>{{norme.udaljenostOdCeste}}</td>
            <td>{{norme.netoLis}}</td>
            <td>{{norme.normaLisAnimal}}</td>
            <td>{{cijenaSjeceCet}}</td>
            <td>{{5}}</td>
          </tr>
          <tr>
            <th scope="row">Suma liscari</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{neto}}</td>
            <td></td>
            <td>{{cijenaSjece}}</td>
          </tr>
        </tbody>
      
  </table> -->
{{cijenaSjeceCetinari}} <br>
{{cijenaSjeceLiscari}} <br>
{{cijenaAnimalCetinari}} <br>
{{cijenaAnimalLiscari}} <br>
