.naslov {
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}
.uvod{
  page-break-before: always;
}

.tehnologija{
  page-break-before: always;
}

.sadrzaj-container{
  page-break-before: always;
}


.sadrzaj-paragraf {
  font-weight: bold;
}

li {
  padding-top: 6px;
  padding-bottom: 6px;
}

.podnaslov {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}

.tekst-paragraf {
  padding-top: 10px;
  text-align: justify;
}
