<div class="container sadrzaj-container">
<div class="naslov">С А Д Р Ж А Ј</div>

<div class="sadrzaj-paragraf">
  <ul>
    <li>УВОД</li>
    <ul>
      <li>ДОЗНАКА СТАБАЛА ЗА СЈЕЧУ</li>
      <li>ТЕХНОЛОГИЈА ИСКОРИШТАВАЊА</li>
      <li>Сјеча и израда</li>
      <li>Прва фаза транспорта</li>
    </ul>
    <li>Преглед дозначене свеукупне дрвне масе</li>
    <li>Расподјела дрвне залихе крупног дрвета</li>
    <li>Сортиментна структура</li>
    <li>Категорије услова рада</li>
    <li>Цијена сјече, израде, привлачења и изношења дрвних сортимената</li>
    <li>Приходи од реализације дрвних сортимената</li>
    <li>Трошкови сјече, израде, привлачења и изношења дрвних сортимената</li>
    <li>Остварена добит</li>
    <li>Прилог (Технолошка карта)</li>
  </ul>
</div>

<div class="naslov uvod">У В О Д</div>
<div class="tekst-paragraf">
  Према важећем Закону о шумама (Службени гласник Р.С.75/2008 од 15. 08. 2008) шуме и шумска земљишта су природна
  добра од општег интереса и уживају посебну бригу и заштиту Републике Српске.
  Шуме, као добро од општег интереса, морају да се одржавају, обнављају и користе тако да се очува и повећа њихова
  вриједност и опште корисне функције, обезбиједи трајност продукције, заштита, те стално повећање прираста и приноса.
  Истим Законом је регулисано, да се шумама и шумским земљиштем газдује на основу ШПО и пројеката за извођење. Пројекат
  за извођење представља планирање и реализацију одредби шумскопривредне основе. Извођачки пројекат садржи све радове по
  обиму и мјесту, податке о времену почетка и завршетка радова, бруто дозначеним дрвним масама, сортиментној структури,
  технолошком поступку, економску анализу, карту одјељења са уцртаним одсјецима, важнијим објектима, постојећим и
  пројектованим саобраћајницама.
  Извођачки пројекат израђује се за период од годину дана. Одредбе извођачког пројекта су обавезујуће и морају се
  реализовати најкасније у периоду до двије године.
</div>

<div class="naslov">ДОЗНАКА СТАБАЛА ЗА СЈЕЧУ</div>
<div class="tekst-paragraf">
  Дознаком су oбухваћена сва стабла која припадају категорији случајних ужитака (извале, преломи, сушике и слично).
  Теренски радови обављени су у мају 2016 године.
  Oбиљежавање (дознака) стабала за сјечу случајних ужитака је извршена стављањем oтиска шумског жига бр.3 на засјеку
  жилишта са доње стране на нагнутом терену и на прсној висини са горње стране стабала уз употребу црне боје.
  Дозначена стабла су евидентирана у књигама за извођачки пројекат ИСК-2 са регистарским бројем 04/2016 a oбрачун
  дозначене масе компјутерски.
</div>


<div class="naslov tehnologija">ТЕХНОЛОГИЈА ИСКОРИШТАВАЊА</div>
<div class="podnaslov">Сјеча и израда</div>
<div class="tekst-paragraf">
  Сјечи и изради шумских дрвних сортимената приступа се након спроведене дознаке случајних ужитака.
  Сијеку се искључиво дозначена стабла. Прије сјече прво треба извршити припрему радног мјеста. Ту спада чишћење
  приданка стабла од земље, ниског растиња, жбуња и камења.
  Прије сјече одређује се смјер обарања стабла. Правилним избором смјера обарања стабла чувају се сусједна стабла ,
  подмладак и стабло које се обара.
  Подсијецање стабла обавља се са оне стране на коју треба да падне стабло. Дубина подсјека треба да износи 1/4 до 1/3
  пречника стабла на мјесту пререзивања, а висина подсјека 0,6-0,8 од дубине подсјека. Висина пања са горње стране не
  може бити већа од 1/3 пречника пања. Након обарања стабла са пања се обавезно одсијецају преостала искинута влакна.
  Успостава шумског реда прописана Правилником о шумском реду је обавезна.
  Истовремено са сјечом и израдом шумских дрвних сортимената све гране и вршни дијелови стабала четинара и бријеста,
  који остају у шуми неискоришћени, морају се сложити у гомиле промјера базе до два метра. Гране се слажу на мјестима
  гдје нема подмлатка, у гомиле приближно облика купе, тако да су дебљи крајеви грана окренути према средини гомиле. Код
  сјече и израде лишћара, осим бријеста, гране које остају у шуми неискоришћене, пресијецају се на ситније комаде дужине
  једног метра и разбацују по површини сјечине, с тим да не смију бити на подмлатку.
  Забрањено је слагање шумских дрвних сортимената и грана уз жива стабла.
  Приликом кројења стабала примјењује се сортиментни метод. Основни принцип код кројења јесте тежња да се постигне што
  веће квантитативно и квалитативно искоришћење. Искоришћење дрвних сортимената је до 7 cm дебљине без коре.
  При извођењу сјече морају се посјећи сва дозначена стабла.
  Примање шумских дрвних сортимената не може се извршити док се не успостави шумски ред.
  Стручни надзор над пословима сјече и израде врше лица одређена рјешењем, а које је саставни дио пројекта.
</div>

<div class="podnaslov">Прва фаза транспорта</div>
<div>
  Прва фаза транспорта шумских дрвних сортимената од пања до међустоваришта на шумском путу обавља се шумским
  тракторима.
  Сортименте привлачити од пања до главне влаке водећи рачуна да се не оштећује подмладак и околна дубећа стабла, а
  затим главном влаком до међустоваришта на камионском путу.

</div>
</div>
