<form [formGroup]="opstaForma" (ngSubmit)="submit()">


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <label for="gazdinstvo">Izaberi gazdinstvo</label>
        <select class="form-select" formControlName="gazdinstvo" id="gazdinstvo">
          <option *ngFor="let list of gazdinstvo; let i = index" [value]="gazdinstvo[i].name">
            {{gazdinstvo[i].name}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4">
        <label for="privrednaJedinica">Izaberi privrednu jedinicu</label>
        <select class="form-select" formControlName="privrednaJedinica" id="privrednaJedinica">
          <option *ngFor="let list of privrednaJedinica; let i = index" [value]="privrednaJedinica[i].name">
            {{privrednaJedinica[i].name}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4">
        <label for="odjel">Odjel</label>
        <select class="form-select" formControlName="odjel" id="odjel">
          <option *ngFor="let list of odjel; let i = index" [value]="odjel[i].name">
            {{odjel[i].name}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4">
        <label for="vrstaSjece">Vrsta sjece</label>
        <select class="form-select" formControlName="vrstaSjece" id="vrstaSjece">
          <option *ngFor="let list of vrstaSjece; let i = index" [value]="vrstaSjece[i].name">
            {{vrstaSjece[i].name}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4">
        <label for="projektant">Projektant</label>
        <select class="form-select" formControlName="projektant" id="projektant">
          <option *ngFor="let list of projektant; let i = index" [value]="projektant[i].name">
            {{projektant[i].name}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <label for="rukovodilacPripreme">Rukovodilac pripreme</label>
        <select class="form-select" formControlName="rukovodilacPripreme" id="rukovodilacPripreme">
          <option *ngFor="let list of rukovodilacPripreme; let i = index" [value]="rukovodilacPripreme[i].name">
            {{rukovodilacPripreme[i].name}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <label for="direktor">Direktor gazdinstva</label>
        <select class="form-select" formControlName="direktor" id="direktor">
          <option *ngFor="let list of direktor; let i = index" [value]="direktor[i].name">
            {{direktor[i].name}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <label for="sumskoPrivrednoPodrucje">Izaberi SPP</label>
        <select class="form-select" formControlName="sumskoPrivrednoPodrucje" id="sumskoPrivrednoPodrucje">
          <option *ngFor="let list of sumskoPrivrednoPodrucje; let i = index" [value]="sumskoPrivrednoPodrucje[i].name">
            {{sumskoPrivrednoPodrucje[i].name}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <label for="grad">Izaberi Grad</label>
        <select class="form-select" formControlName="grad" id="grad">
          <option *ngFor="let list of grad; let i = index" [value]="grad[i].name">
            {{grad[i].name}}
          </option>
        </select>
      </div>
    </div>

    <button class="btn btn-primary">submit</button>
  </div>
</form>

