<form [formGroup]="sortimentiFormGroup" (ngSubmit)="onSubmit()">
  <div class="selectVrsta">Vrsta drveta
    <select class="custom-select custom-select-lg mb-3" formControlName="izabranaVrsta">
      <option value="21">Jela</option>
      <option value="22">Smrca</option>
      <option value="41">Bukva</option>
      <option value="50">Plemeniti</option>
    </select>
  </div>
  <div class="sortimentForm d-table mx-auto">
    <div class="d-flex flex-row">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="fTrupci" id="fTrupci" placeholder="fTrupci">
        <label for="fTrupci">F Trupci</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="lTrupci" id="lTrupci" placeholder="lTrupci">
        <label for="lTrupci">L Trupci</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="prvaKlasa" id="prvaKlasa" placeholder="prvaKlasa">
        <label for="prvaKlasa">I Klasa</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="drugaKlasa" id="drugaKlasa" placeholder="drugaKlasa">
        <label for="drugaKlasa">II Klasa</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="trecaKlasa" id="trecaKlasa" placeholder="trecaKlasa">
        <label for="trecaKlasa">III Klasa</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="stuboviZaVodove" id="stuboviZaVodove"
               placeholder="stuboviZaVodove">
        <label for="stuboviZaVodove">TT stubovi</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="jamskoDrvo" id="jamskoDrvo" placeholder="jamskoDrvo">
        <label for="jamskoDrvo">Jamsko drvo</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="koljeZaVoce" id="koljeZaVoce"
               placeholder="koljeZaVoce">
        <label for="koljeZaVoce">Kolje za voce</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="celuloznoDrvo" id="celuloznoDrvo"
               placeholder="celuloznoDrvo">
        <label for="celuloznoDrvo">Celulozno drvo</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="ogrevPrveKlase" id="ogrevPrveKlase"
               placeholder="ogrevPrveKlase">
        <label for="ogrevPrveKlase">Ogrev I klase</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="ogrevDrugeKlase" id="ogrevDrugeKlase"
               placeholder="ogrevDrugeKlase" required>
        <label for="ogrevDrugeKlase">Ogrev II klase</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="sveukupnaDrvnaMasa" id="sveukupnaDrvnaMasa"
               placeholder="sveukupnaDrvnaMasa" required>
        <label for="sveukupnaDrvnaMasa">Sveukupna Drvna Masa</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="srednjiPrecnik" id="srednjiPrecnik"
               placeholder="srednjiPrecnik" required>
        <label for="srednjiPrecnik">Srednji Precnik</label>
      </div>
    </div>
    <div class="d-table-cell">
      <button class="btn btn-primary" type="button" (click)="onSubmit()">Submit</button>
    </div>
  </div>

</form>

<div>

<table class="sortimentForm sortimentnaTabela  table table-bordered">
  <thead>
  <tr>
    <th scope="col" style="width: 5%">4.3</th>
    <th scope="col" style="width: 5%">F</th>
    <th scope="col" style="width: 5%">L</th>
    <th scope="col" style="width: 5%">I klasa</th>
    <th scope="col" style="width: 5%">II klasa</th>
    <th scope="col" style="width: 5%">III klasa</th>
    <th scope="col" style="width: 5%">TT stubovi</th>
    <th scope="col" style="width: 5%">Jamsko Drvo</th>
    <th scope="col" style="width: 5%">Kolje za voce</th>
    <th scope="col" style="width: 5%">Celulozno drvo</th>
    <th scope="col" style="width: 5%">Ogrev I klase</th>
    <th scope="col" style="width: 5%">Ogrev II klase</th>
    <th scope="col" style="width: 5%">Sveukupna Drvna Masa</th>
    <th scope="col" style="width: 5%">Srednji precnik</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of sumTrupciJela;">
    <th scope="row">Jela</th>
    <td>{{item.fTrupci}}</td>
    <td>{{item.lTrupci}}</td>
    <td>{{item.prvaKlasa}}</td>
    <td>{{item.drugaKlasa}}</td>
    <td>{{item.trecaKlasa}}</td>
    <td>{{item.stuboviZaVodove}}</td>
    <td>{{item.jamskoDrvo}}</td>
    <td>{{item.koljeZaVoce}}</td>
    <td>{{item.celuloznoDrvo}}</td>
    <td>{{item.ogrevPrveKlase}}</td>
    <td>{{item.ogrevDrugeKlase}}</td>
    <td>{{item.sveukupnaDrvnaMasa}}</td>
    <td>{{item.srednjiPrecnik}}</td>
  </tr>
  <tr *ngFor="let item of sumTrupciSmrca;">
    <th scope="row">Smrca</th>
    <td>{{item.fTrupci}}</td>
    <td>{{item.lTrupci}}</td>
    <td>{{item.prvaKlasa}}</td>
    <td>{{item.drugaKlasa}}</td>
    <td>{{item.trecaKlasa}}</td>
    <td>{{item.stuboviZaVodove}}</td>
    <td>{{item.jamskoDrvo}}</td>
    <td>{{item.koljeZaVoce}}</td>
    <td>{{item.celuloznoDrvo}}</td>
    <td>{{item.ogrevPrveKlase}}</td>
    <td>{{item.ogrevDrugeKlase}}</td>
    <td>{{item.sveukupnaDrvnaMasa}}</td>
    <td>{{item.srednjiPrecnik}}</td>
  </tr>
  <tr>
    <th scope="row">Suma cetinara</th>
    <td>{{sumaFTrupciCetinari}}</td>
    <td>{{sumaLklaseCetinari}}</td>
    <td>{{sumaPrvaKlasaCetinari}}</td>
    <td>{{sumaDrugaKlasaCetinari}}</td>
    <td>{{sumaTrecaKlasaCetinari}}</td>
    <td>{{sumaStuboviCetinari}}</td>
    <td>{{sumaJamskoDrvoCetinari}}</td>
    <td>{{sumaKoljeZaVoceCetinari}}</td>
    <td>{{sumaCeluloznoDrvoCetinari}}</td>
    <td>{{sumaOgrevPrveKlaseCetinari}}</td>
    <td>{{sumaOgrevDrugeKlaseCetinari}}</td>
    <td>{{sveukupnaDrvnaMasaCetinari}}</td>
    <td>{{srednjiPrecnikCetinari}}</td>
  </tr>
  <tr *ngFor="let item of sumTrupciBukva;">
    <th scope="row">Bukva</th>
    <td>{{item.fTrupci}}</td>
    <td>{{item.lTrupci}}</td>
    <td>{{item.prvaKlasa}}</td>
    <td>{{item.drugaKlasa}}</td>
    <td>{{item.trecaKlasa}}</td>
    <td>{{item.stuboviZaVodove}}</td>
    <td>{{item.jamskoDrvo}}</td>
    <td>{{item.koljeZaVoce}}</td>
    <td>{{item.celuloznoDrvo}}</td>
    <td>{{item.ogrevPrveKlase}}</td>
    <td>{{item.ogrevDrugeKlase}}</td>
    <td>{{item.sveukupnaDrvnaMasa}}</td>
    <td>{{item.srednjiPrecnik}}</td>
  </tr>
  <tr *ngFor="let item of sumTrupciPlemeniti;">
    <th scope="row">Plemeniti</th>
    <td>{{item.fTrupci}}</td>
    <td>{{item.lTrupci}}</td>
    <td>{{item.prvaKlasa}}</td>
    <td>{{item.drugaKlasa}}</td>
    <td>{{item.trecaKlasa}}</td>
    <td>{{item.stuboviZaVodove}}</td>
    <td>{{item.jamskoDrvo}}</td>
    <td>{{item.koljeZaVoce}}</td>
    <td>{{item.celuloznoDrvo}}</td>
    <td>{{item.ogrevPrveKlase}}</td>
    <td>{{item.ogrevDrugeKlase}}</td>
    <td>{{item.sveukupnaDrvnaMasa}}</td>
    <td>{{item.srednjiPrecnik}}</td>
  </tr>
  <tr>
    <th scope="row">Suma liscari</th>
    <td>{{sumaFTrupciLiscari}}</td>
    <td>{{sumaLklaseLiscari}}</td>
    <td>{{sumaPrvaKlasaLiscari}}</td>
    <td>{{sumaDrugaKlasaLiscari}}</td>
    <td>{{sumaTrecaKlasaLiscari}}</td>
    <td>{{sumaStuboviLiscari}}</td>
    <td>{{sumaJamskoDrvoLiscari}}</td>
    <td>{{sumaKoljeZaVoceLiscari}}</td>
    <td>{{sumaCeluloznoDrvoLiscari}}</td>
    <td>{{sumaOgrevPrveKlaseLiscari}}</td>
    <td>{{sumaOgrevDrugeKlaseLiscari}}</td>
    <td>{{sveukupnaDrvnaMasaLiscari}}</td>
    <td>{{srednjiPrecnikLiscari}}</td>
  </tr>
  <tr>
    <th scope="row">Suma</th>
    <td>{{sumaCetinariLiscariFKlase}}</td>
    <td>{{sumaCetinariLiscariLKlase}}</td>
    <td>{{sumaCetinariLiscariPrvaKlasa}}</td>
    <td>{{sumaCetinariLiscarDrugaKlasa}}</td>
    <td>{{sumaCetinariLiscariTrecaKlasa}}</td>
    <td>{{sumaCetinariLiscariStubovi}}</td>
    <td>{{sumaCetinariLiscariJamskoDrvo}}</td>
    <td>{{sumaCetinariLiscariKoljeZaVoce}}</td>
    <td>{{sumaCetinariLiscariCeluloznoDrvo}}</td>
    <td>{{sumaCetinariLiscariOgrevPrveKlase}}</td>
    <td>{{sumaCetinariLiscariOgrevDrugeKlase}}</td>
    <td>{{sumacetinariLiscariSveukupnaDrvnaMasa}}</td>
    <td></td>
  </tr>
  </tbody>
</table>
</div>

<div>Kolicina sortimenata iznosi: {{sumCetinariLiscari}}</div>
<div>Troskovi projekta iznosi: {{sumTroskova}}</div>
<div>Cjena projekta po kubiku iznosi: {{sumCjenaProjekta}}</div>


