
.selectVrsta {
  margin-top: 25px;
  margin-left: 25px;
}

.sortimentForm {
  position: relative;
  width: 82%;
  Height: 75px;
}

.sortimentnaTabela {
  position: relative;
  margin: auto;
}

.btn {
  margin-left: 50px;
  display: block;
}

.d-table-cell {
  display:table-cell;
}

.d-table {
  display:table;
}
