/*.landscape{*/
/*  page-break-before: always;*/
/*  !*page-break-after: always;*!*/
/*  !*padding-top: 250px;*!*/
/*}*/
/*.table {*/
/*  table-layout: fixed;*/
/*  line-height: 1.0;*/
/*}*/

/*.prihod {*/
/*  margin: 100px;*/
/*  text-align: center;*/
/*}*/


/*.suma-table {*/
/*  margin: 100px;*/
/*}*/

caption {
  caption-side: top;
  font-weight: bold;
}

.vertical{
  text-align: center;
}

/*novi print*/
.tabela-prihod {

  page-break-before: always;
  page-break-after: always;
  transform-origin: top left;
  transform: translateY(100%) rotate(-90deg);
  /*margin-left: -300px;*/
  /*margin-top: 600px;*/
  /*margin: auto;*/
  /*position: page;*/
  /*width: 100%;*/
  /*table-layout: fixed;*/
}

.table-faza-rada-kratka {
  page-break-before: always;
}

.table-faza-rada {
  page-break-before: always;
}

.ukupno-tabela {
  font-weight: bold;
}

.table-balance {
  align-items: center;
  margin: auto;
  width: 25%;
}

@media print {
  .btn {
    visibility: hidden;
  }

  /*.table-faza-rada-kratka{*/
  /*  page-break-before: always;*/
  /*  page-break-after: always;*/
  /*}*/
  /*.table-faza-rada{*/
  /*  page-break-before: always;*/
  /*  page-break-after: always;*/
  /*}*/
  /*.landscape{*/
  /*  !*padding-left: 0;*!*/
  /*  !*padding-top: 400px;*!*/
  /*  transform: rotate(-90deg);*/
  /*  !*page-break-before: always;*!*/
  /*}*/
  /*.table-faza-rada{*/
  /*  padding-left: 0;*/
  /*  padding-top: 0;*/
  /*  transform: rotate(-90deg);*/
  /*  page-break-before: always;*/
  /*}*/
  /*.table-faza-rada-kratka{*/
  /*  padding-left: 0;*/
  /*  padding-top: 0;*/
  /*  transform: rotate(-90deg);*/
  /*  page-break-before: always;*/
  /*}*/
  /*.test-table{*/
  /*  transform: rotate(-90deg);*/
  /*}*/
  /*!*table { page-break-after:always;*!*/
  /*!*  page-break-before:always}*!*/
}





