<div class="table-responsive prihod">
  <table class="table table-bordered table-sm">
    <thead>

    <tr>
      <td></td>
      <th *ngFor="let klase of this.trupci.klase">
        {{klase}}
      </th>
    </tr>


    <tr *ngIf="tabJela">
      <td>Jela</td>
      <td *ngFor="let itemJela of this.trupci.jelaSaNeto">
        {{itemJela | number : '1.2-2'}}
      </td>
      <td rowspan="3">{{prihodJela | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabJela">
      <td>Cijena jela</td>
      <td *ngFor="let cijenaJela of this.trupci.cijenaJela">
        {{cijenaJela}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr class="table-success" *ngIf="tabJela">
      <td>Prihodi jela</td>
      <td *ngFor="let vrijednost of this.trupci.vrijednostJela">
        {{vrijednost | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngIf="tabSmrca">
      <td>Smrca</td>
      <td *ngFor="let itemSmrca of this.trupci.smrcaSaNeto">
        {{itemSmrca | number : '1.2-2'}}
      </td>
      <td rowspan="3">{{prihodSmrca | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabSmrca">
      <td>Cijena smrca</td>
      <td *ngFor="let cijenaSmrca of this.trupci.cijenaSmrca">
        {{cijenaSmrca}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr class="table-success" *ngIf="tabSmrca">
      <td>Prihod smrca</td>
      <td *ngFor="let vrijednost of this.trupci.vrijednostSmrca">
        {{vrijednost | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngIf="tabBijeliBor">
      <td>Bijeli Bor</td>
      <td *ngFor="let itemBijeliBor of this.trupci.bijeliBorSaNeto">
        {{itemBijeliBor | number : '1.2-2'}}
      </td>
      <td rowspan="3">{{prihodBijeliBor | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabBijeliBor">
      <td>Cijena Bijeli Bor</td>
      <td *ngFor="let cijenaBijeliBor of this.trupci.cijenaBijeliBor">
        {{cijenaBijeliBor}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr class="table-success" *ngIf="tabBijeliBor">
      <td>Prihodi bijeli bor</td>
      <td *ngFor="let vrijednost of this.trupci.vrijednostBijeliBor">
        {{vrijednost | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngIf="tabCrniBor">
      <td>Crni Bor</td>
      <td *ngFor="let itemCrniBor of this.trupci.crniBorSaNeto">
        {{itemCrniBor | number : '1.2-2'}}
      </td>
      <td rowspan="3">{{prihodCrniBor | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabCrniBor">
      <td>Cijena crni bor</td>
      <td *ngFor="let cijenaCrniBor of this.trupci.cijenaCrniBor">
        {{cijenaCrniBor}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr class="table-success" *ngIf="tabCrniBor">
      <td>Prihodi crni bor</td>
      <td *ngFor="let vrijednost of this.trupci.vrijednostCrniBor">
        {{vrijednost | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>


    <tr class="table-warning" *ngIf="tabCet">
      <td>Σ cetinari</td>
      <th *ngFor="let itemSumCet of this.trupci.sumCet">
        {{itemSumCet | number : '1.2-2'}}
      </th>
      <td>{{sumPrihodiCet | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabBukva">
      <td>Bukva</td>
      <td *ngFor="let itemBukva of this.trupci.bukvaSaNeto">
        {{itemBukva | number : '1.2-2'}}
      </td>
      <td rowspan="3">{{prihodBukva | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabBukva">
      <td>Cijena bukva</td>
      <td *ngFor="let cijenaBukva of this.trupci.cijenaBukva">
        {{cijenaBukva}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr class="table-success" *ngIf="tabBukva">
      <td>Prihodi bukva</td>
      <td *ngFor="let vrijednost of this.trupci.vrijednostBukva">
        {{vrijednost | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngIf="tabHrast">
      <td>Hrast</td>
      <td *ngFor="let itemHrast of this.trupci.hrastSaNeto">
        {{itemHrast | number : '1.2-2'}}
      </td>
      <td rowspan="3">{{prihodHrast | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabHrast">
      <td>Cijena hrast</td>
      <td *ngFor="let cijenaHrast of this.trupci.cijenaHrast">
        {{cijenaHrast}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr class="table-success" *ngIf="tabHrast">
      <td>Prihodi hrast</td>
      <td *ngFor="let vrijednost of this.trupci.vrijednostHrast">
        {{vrijednost | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngIf="tabBrijest">
      <td>Brijest</td>
      <td *ngFor="let itemBrijest of this.trupci.brijestSaNeto">
        {{itemBrijest | number : '1.2-2'}}
      </td>
      <td rowspan="3">{{prihodBrijest  | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabBrijest">
      <td>Cijena brijest</td>
      <td *ngFor="let cijenaBrijest of this.trupci.cijenaBrijest">
        {{cijenaBrijest | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr class="table-success" *ngIf="tabBrijest">
      <td>Prihodi Brijest</td>
      <td *ngFor="let vrijednost of this.trupci.vrijednostBrijest">
        {{vrijednost | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngIf="tabOstali">
      <td>Ostali</td>
      <td *ngFor="let itemOstali of this.trupci.ostaliSaNeto">
        {{itemOstali | number : '1.2-2'}}
      </td>
      <td rowspan="3">{{prihodOstali | number : '1.2-2'}} KM</td>
    </tr>

    <tr *ngIf="tabOstali">
      <td>Cijena ostali</td>
      <td *ngFor="let cijenaOstali of this.trupci.cijenaOstali">
        {{cijenaOstali}}
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr class="table-success" *ngIf="tabOstali">
      <td>Prihodi ostali</td>
      <td *ngFor="let vrijednost of this.trupci.vrijednostOstali">
        {{vrijednost | number : '1.2-2'}}
      </td>
      <td></td>
      <td></td>
    </tr>


    <tr class="table-dark" *ngIf="tabLis">
      <td>Σ Liscari</td>
      <th *ngFor="let itemSumLis of this.trupci.sumLis">
        {{itemSumLis | number : '1.2-2'}}
      </th>
      <td>{{sumPrihodiLis  | number : '1.2-2'}} KM</td>
    </tr>

    <tr class="table-danger">
      <td>Σ Cetinari i Liscari</td>
      <th *ngFor="let itemSumCetLis of this.trupci.sumCetLis">
        {{itemSumCetLis | number : '1.2-2'}}
      </th>
      <td>{{sumPrihodiCetLis  | number : '1.2-2'}} KM</td>
    </tr>
    </thead>

  </table>
</div>


<div class="table-responsive prihod">
  <table class="table table-bordered table-sm">
    <tr>
      <th>Odjel</th>
      <th>Faza rada</th>
      <th>Uslovi rada</th>
      <th>Bonitet</th>
      <th>Srednji precnik</th>
      <th>Srednja duzina privlacenja</th>
      <th>Kolicina</th>
      <th>Norma</th>
      <th>Cijena</th>
      <th>Broj radnih dana</th>
    </tr>
    <tr>
      <th rowspan="12">{{odjel}}</th>
      <td rowspan="3">Sjeca i izrada</td>
      <td>Cetinari {{usloviRadaCet}}</td>
      <td>{{bonitetCet}}</td>
      <td>{{srednjiPrecnikCet}} cm</td>
      <td></td>
      <td>{{kolicinaCet | number : '1.2-2'}} m³</td>
      <td>{{normaSjecaCet | number : '1.2-2'}}</td>
      <td>{{cetCijenaSj | number : '1.2-2'}} KM/m³</td>
      <td>{{sjecaCetBrRadDana}}</td>
    </tr>

    <tr>
      <td>Liscari {{usloviRadaLis}}</td>
      <td>{{bonitetLis}}</td>
      <td>{{srednjiPrecnikLis}} cm</td>
      <td></td>
      <td>{{kolicinaLis | number : '1.2-2'}} m³</td>
      <td>{{normaSjecaLis | number : '1.2-2'}}</td>
      <td>{{lisCijenaSj | number : '1.2-2'}} KM/m³</td>
      <td>{{sjecaLisBrRadDana}}</td>
    </tr>
    <tr class="table-secondary">
      <td>Σ</td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ukupnaKolicina | number : '1.2-2'}} m³</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td rowspan="3">Animal trupci</td>
      <td>Cetinari {{usloviRadaAnimalCet}}</td>
      <td>{{bonitetCet}}</td>
      <td></td>
      <td>{{distanca}} m</td>
      <td>{{kolicinaCetTrupci | number : '1.2-2'}} m³</td>
      <td>{{normaTrupciCet | number : '1.2-2'}}</td>
      <td>{{cijenaCetTrupacAnimal | number : '1.2-2'}} KM/m³</td>
      <td>{{animalTrupciCetBrRadnihDana}}</td>
    </tr>
    <tr>
      <td>Liscari {{usloviRadaAnimalLis}}</td>
      <td>{{bonitetLis}}</td>
      <td></td>
      <td>{{distanca}} m</td>
      <td>{{kolicinaLisTrupci | number : '1.2-2'}} m³</td>
      <td>{{normaTrupciLis | number : '1.2-2'}}</td>
      <td>{{cijenaLisTrupacAnimal | number : '1.2-2'}} KM/m³</td>
      <td>{{animalLisBrRadnihDana}}</td>
    </tr>
    <tr>
      <td>Σ</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="table-warning">{{trupciKolicina  | number : '1.2-2'}} m³</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td rowspan="3">Animal tanka oblovina</td>
      <td>Cetinari {{usloviRadaAnimalCet}}</td>
      <td>{{bonitetCet}}</td>
      <td></td>
      <td>{{distanca}} m</td>
      <td>{{kolicinaCetTanka | number : '1.2-2'}} m³</td>
      <td>{{normaTankaCet | number : '1.2-2'}}</td>
      <td>{{cijenaCetTankaAnimal | number : '1.2-2'}} KM/m³</td>
      <td>{{animalTankaCetBrRadnihDana}}</td>
    </tr>
    <tr>
      <td>Liscari {{usloviRadaAnimalLis}}</td>
      <td>{{bonitetLis}}</td>
      <td></td>
      <td>{{distanca}} m</td>
      <td>{{kolicinaLisTanka | number : '1.2-2'}} m³</td>
      <td>{{normaTankaLis | number : '1.2-2'}}</td>
      <td>{{cijenaLisTankaAnimal | number : '1.2-2'}} KM/m³</td>
      <td>{{animalTankaLisBrRadnihDana}}</td>
    </tr>
    <tr>
      <td>Σ</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="table-warning">{{tankaKolicina | number : '1.2-2'}} m³</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td rowspan="3">Iznos</td>
      <td>Cetinari {{usloviRadaAnimalCet}}</td>
      <td>{{bonitetCet}}</td>
      <td></td>
      <td>{{distanca}} m</td>
      <td>{{kolicinaIznosCet | number : '1.2-2'}} m³</td>
      <td>{{normaIznosCet | number : '1.2-2'}}</td>
      <td>{{cijenaCetIznos | number : '1.2-2'}} KM/m³</td>
      <td>{{iznosCetBrRadnihDana}}</td>
    </tr>
    <tr>
      <td>Liscari {{usloviRadaAnimalLis}}</td>
      <td>{{bonitetLis}}</td>
      <td></td>
      <td>{{distanca}} m</td>
      <td>{{kolicinaIznosLis | number : '1.2-2'}} m³</td>
      <td>{{normaIznosLis | number : '1.2-2'}}</td>
      <td>{{cijenaLisIznos | number : '1.2-2'}} KM/m³</td>
      <td>{{iznosLisBrRadnihDana}}</td>
    </tr>
    <tr>
      <td>Σ</td>
      <td></td>
      <td></td>
      <td></td>
      <td  class="table-warning">{{tankaKolicina | number : '1.2-2'}} m³</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>



  </table>
</div>


<div class="table-responsive prihod suma-table">
<table class="table table-bordered table-sm">
  <tr>
    <th>Odjel</th>
    <th>Faza rada</th>
    <th>Vrste</th>
    <th>Kolicina</th>
    <th>Cijena</th>
    <th>Ukupno</th>
  </tr>
  <tr>
    <th rowspan="12">{{odjel}}</th>
    <td rowspan="3">Sjeca i izrada</td>
    <td>Cetinari</td>
    <td>{{kolicinaCet | number : '1.2-2'}} m³</td>
    <td>{{cetCijenaSj | number : '1.2-2'}} KM/m³</td>
    <td>{{trosakCetSj | number : '1.2-2'}} KM</td>
  </tr>

  <tr>
    <td>Liscari</td>
    <td>{{kolicinaLis | number : '1.2-2'}} m³</td>
    <td>{{lisCijenaSj | number : '1.2-2'}} KM/m³</td>
    <td>{{trosakLisSj | number : '1.2-2'}} KM</td>
  </tr>
  <tr>
    <td>Σ</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="3">Animal trupci</td>
    <td>Cetinari</td>
    <td>{{kolicinaCetTrupci | number : '1.2-2'}} m³</td>
    <td>{{cijenaCetTrupacAnimal | number : '1.2-2'}} KM/m³</td>
    <td>{{trosakCetTrupci | number : '1.2-2'}} KM</td>
  </tr>
  <tr>
    <td>Liscari</td>
    <td>{{kolicinaLisTrupci | number : '1.2-2'}} m³</td>
    <td>{{cijenaLisTrupacAnimal | number : '1.2-2'}} KM/m³</td>
    <td>{{trosakLisTrupci | number : '1.2-2'}} KM</td>
  </tr>
  <tr>
    <td>Σ</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td rowspan="3">Animal tanka oblovina</td>
    <td>Cetinari</td>
    <td>{{kolicinaCetTanka | number : '1.2-2'}} m³</td>
    <td>{{cijenaCetTankaAnimal | number : '1.2-2'}} KM/m³</td>
    <td>{{trosakCetTanka | number : '1.2-2'}} KM</td>
  </tr>
  <tr>
    <td>Liscari</td>
    <td>{{kolicinaLisTanka | number : '1.2-2'}} m³</td>
    <td>{{cijenaLisTankaAnimal | number : '1.2-2'}} KM/m³</td>
    <td>{{trosakLisTanka | number : '1.2-2'}} KM</td>
  </tr>
  <tr>
    <td>Σ</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td rowspan="3">Iznos</td>
    <td>Cetinari</td>
    <td>{{kolicinaIznosCet | number : '1.2-2'}} m³</td>
    <td>{{cijenaCetIznos.toFixed(2) | number : '1.2-2'}} KM/m³</td>
    <td>{{trosakCetIznos | number : '1.2-2'}} KM</td>
  </tr>
  <tr>
    <td>Liscari</td>
    <td>{{kolicinaIznosLis | number : '1.2-2'}} m³</td>
    <td>{{cijenaLisIznos | number : '1.2-2'}} KM/m³</td>
    <td>{{trosakLisIznos | number : '1.2-2'}} KM</td>
  </tr>
  <tr>
    <td>Σ</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>


</table>
</div>

<div class="table-responsive prihod">
  <table class="table table-bordered table-sm">
    <tr>
      <td>Prihodi</td>
      <td>{{sumPrihodiCetLis | number : '1.2-2'}} KM</td>
    </tr>
    <tr>
      <td>Direktni troskovi</td>
      <td>{{ukupniDirektniTrosak | number : '1.2-2'}} KM</td>
    </tr>

    <tr>
      <td>Dobit</td>
      <td>{{dobit | number : '1.2-2'}} KM</td>
    </tr>


  </table>
</div>
