
.table {
  table-layout: fixed;
  /*line-height: 1.0;*/
  size: landscape;
  page-break-before: always;
}

.prihod {
  /*margin: 100px;*/
  text-align: center;
}

.suma-table {
  /*margin: 100px;*/
}
@media print  {
  .landscape { size : landscape }
  .btn{
    visibility: hidden;
  }
}




